[2016-07-09 07:55] virajprabhu opened #4 "Delete layer does not refresh the canvas, layer disappears only after the next action"
The canvas should be refreshed and the layer block removed as soon as the user deletes a layer.

[2016-07-09 08:01] virajprabhu opened #5 "Import without selecting a file should display an error dialog on the UI"
Alternatively, we could move the "choose file" functionality into the "import"? Having two steps doesn't seem necessary.

[2016-07-09 08:09] virajprabhu commented on #4
Pulled latest, seems fixed. Closing this.

[2016-07-09 08:09] #4 closed

[2016-07-09 23:20] deshraj opened #6 "Setup Travis CI and Coveralls"

[2016-07-09 23:21] deshraj opened #7 "Write unittests"

[2016-07-09 23:22] DESHRAJ commented on #7
We can use coverage to write tests in python. For reference, see https://coverage.readthedocs.io/en/coverage-4.1/

[2016-07-09 23:24] DESHRAJ opened #8 "Adding support for torch and tensorflow"

[2016-07-09 23:25] DESHRAJ opened #9 "Update README"
@gauravgupta22 can you update the README with the project description and steps for installation?

[2016-08-21 11:24] #8 closed

[2016-08-30 22:16] #9 closed

[2016-11-03 16:35] virajprabhu opened #14 "Switch from scroll to zoom in canvas to vertical scrolling"
The scroll to zoom is jerky and not very useful. Disabling it and adding a vertical scrollbar to the canvas will provide a better user experience.

[2016-11-03 16:56] virajprabhu opened #15 "Keras support"
We want to support [Keras](https://keras.io/) as an additional backend.

Export: Since our intermediate backend representation is prototxt, we can use [this](https://github.com/MarcBS/keras/blob/master/keras/caffe/README.md) to export.

Import: Keras exposes a `model.to_json()` function, we will have to write logic to parse the json to prototxt.

[2016-11-03 17:10] virajprabhu opened #16 "Layer boxes UI Enhancements"
It would be nice to show layer details on hover (instead of the user having to click the layer box) - [this](http://ethereon.github.io/netscope/#/preset/caffenet) is a nice example.

No border and border-radius for boxes also seems to look nicer.

[2016-11-03 17:18] virajprabhu opened #17 "Model Sharing"
We want to have a feature to generate a shareable link to a network built by a user that another user can view, edit. We will need to store the link and prototxt in our database when the user clicks share, and look up and regenerate the network from DB when another user tries to access the link.

Eventually we want to also allow collaborative editing of networks with real time updates.

@deshraj @

[2016-11-30 15:27] souravsingh commented on #7
I am interested in working on the issue.

[2016-11-30 15:30] deshraj commented on #7
@souravsingh I am glad that you are interested in working on this issue. let me know if you need any help.

[2016-12-01 03:21] souravsingh commented on #15
I am interested in working on the issue. How do I start?

[2016-12-03 02:47] virajprabhu commented on #15
Great! I'd recommend you set up the code locally if you haven't already (follow instructions in the README) and try out a few import/export workflows. The `caffe_app/views` directory contains the relevant code for caffe support. We will need a similar implementation for Keras (refer to my comment above). Once you've done that, let's have a discussion about the details of the implementation.

[2016-12-07 15:47] anweshknayak commented on #5
any hint ?

[2016-12-07 16:04] virajprabhu commented on #5
The import workflow on the UI currently has two steps - you click "choose file" and select a file, and then click "import". We want have only a single button "import" - clicking on it will bring up a file search dialog box and selecting will call import. Is that clearer?

[2016-12-10 10:22] souravsingh commented on #15
@virajprabhu I have finished setting up the code for the project. For adding support for Keras, it would be similar to how it is done for tensorflow, correct?

[2016-12-12 04:21] virajprabhu commented on #15
@souravsingh Great! Yes, the approach will be similar. Do you have a fair understanding of the TensorFlow logic?

[2016-12-12 12:53] souravsingh commented on #15
@virajprabhu I have a fair understanding of Tensorflow logic. Should I go ahead and make a WIP Pull Request to incorporate Keras Support?

[2016-12-12 16:32] virajprabhu commented on #15
Great @souravsingh! Before you do that, we should iterate a bit over the implementation. Since this is a major feature, I'd like to make sure we are on the same page so you don't end up having to reimplement anything. Could you please summarize your proposed implementation [here](https://docs.google.com/document/d/1qdIR7S7Br9uUDUutri7xp4C2HNaduWGTuWDgpoVgMJE/edit?usp=sharing)?

[2016-12-12 16:33] virajprabhu commented on #5
@anweshknayak Are you interested in taking this on?

[2016-12-12 17:38] anweshknayak commented on #5
@virajprabhu I may need some time to fix this. Semester exams going on. If you can spare me a few days more.

[2016-12-12 17:51] virajprabhu commented on #5
@anweshknayak No problem! Let me know if you'd like to work on this once you are free, and I'll assign it to you.

[2016-12-13 18:22] virajprabhu commented on #15
@souravsingh PR #22 (under review) was just submitted for this. Is there any other issue you'd like to work on? #17 is another major feature that we're very interested in. Let me know if there is, and I could assign it to you.

[2016-12-13 18:25] souravsingh commented on #17
I would like to work on the issue. How do I get started?

[2016-12-13 19:40] anweshknayak commented on #5
@virajprabhu you can assign me this

[2016-12-13 23:34] anweshknayak commented on #14
assign this to me too @virajprabhu

[2016-12-14 12:14] anweshknayak commented on #5
@virajprabhu has this problem already been solved ? we have a import button. clicking it opens up a file search dialog box and selecting it will call import.

[2016-12-18 00:55] anweshknayak commented on #7
anyone working on this one ?

[2016-12-18 05:55] souravsingh commented on #7
I am working on the issue

[2016-12-18 06:02] deshraj commented on #7
I think this issue would be pretty big and working alone on it would take a lot of time. It would be a good idea if we can divide stuff between you guys. Also, we can discuss more on the gitter channel https://gitter.im/Cloud-CV/IDE

[2016-12-20 20:42] anweshknayak commented on #6
@deshraj do I need to add tensorflow and caffe build to the .travis.yml for now ? or shall I skip that?
And if I add those builds. Where to define the path for tensorflow and caffe to be installed for that script? I took a look at the (https://github.com/Cloud-CV/CloudCV/blob/master/.travis.yml). Shall it be like TOOLS_DIR="$HOME/tools" ?

[2016-12-21 02:26] deshraj commented on #6
@anweshknayak yeah. I was going to ask you to refer this file only. You can take inspiration from this file. We can make modifications in the directory structure later.

Let me know if you need any help. We can discuss on Gitter.

[2016-12-23 23:17] anweshknayak commented on #16
could you provide some hint ?

[2016-12-26 05:49] virajprabhu commented on #16
@anweshknayak Updated the description. Does it make more sense now?

[2016-12-31 15:35] anweshknayak opened #25 "Extending Webpack"
task runner which runs our various tasks of compiling JS, bundling it and reloading browser on change.

[2016-12-31 18:37] tocttou commented on #25
There is webpack already included in the project. Extend it instead.

https://github.com/Cloud-CV/IDE/blob/master/webpack.config.js

[2016-12-31 18:41] tocttou commented on #25
As you can see, it already transpiles [1] and bundles JS and other assets also [2]:

1: https://github.com/Cloud-CV/IDE/blob/master/webpack.config.js#L10
2: https://github.com/Cloud-CV/IDE/blob/master/webpack.config.js#L7

To restart the server on file change, you may use: https://webpack.github.io/docs/webpack-dev-server.html

[2017-01-02 22:01] anweshknayak commented on #25
thanks @tocttou

[2017-01-07 08:17] anweshknayak commented on #25
@tocttou noob question. changes in the files related to frontend are not reflected back. tried running webpack --watch.? Extending this webpack config might help ?

[2017-01-07 17:57] tocttou commented on #25
I am not sure why `webpack --watch` does not work for you. It should create new files. Make sure you are refreshing by doing `Ctrl + F5` instead of `F5` to force the browser to fetch actual files instead of the cached ones.

[2017-01-09 01:44] virajprabhu commented on #25
@anweshknayak Is this fixed? Like @tocttou said, running with watch + refresh ignoring cache should work fine. Meanwhile I'll add watch to the webpack config.

[2017-01-09 18:35] anweshknayak commented on #25
@virajprabhu @tocttou thanks. It is working now :)

[2017-01-10 02:48] #25 closed

[2017-01-10 09:52] souravsingh commented on #14
@virajprabhu I am interested in working on the issue. How do I start?

[2017-01-10 12:57] virajprabhu commented on #14
@souravsingh Great! Have you setup the code locally? Presently, you would notice that if you load a large network (Say [GoogLenet](https://github.com/Cloud-CV/IDE/blob/master/example/GoogleNet.prototxt) from the examples), the size of each node of the jsPlumb flowchart is small and the flowchart extends horizontally. Scrolling the mousepad zooms the canvas and is the only way to visualize the enti

[2017-01-14 10:25] anweshknayak commented on #7
@souravsingh you working on this ?

[2017-01-14 10:30] gauthamzz commented on #7
@anweshknayak @deshraj i would like to also help ?

[2017-01-14 10:39] deshraj commented on #17
@souravsingh sorry for replying late. I missed this thread somehow. You can start with the integration of django-allauth and then after setting up the authentication, we can work on generating the sharable link as a new feature. Does that sound good?

[2017-01-14 10:41] souravsingh commented on #17
@deshraj Thanks, I will start working on it.

[2017-01-15 00:58] virajprabhu commented on #15
Closing this. #22 was merged to [keras-support](https://github.com/Cloud-CV/IDE/tree/keras-support) (Still in progress).

[2017-01-15 00:58] #15 closed

[2017-01-15 00:59] virajprabhu commented on #14
@souravsingh Any update on this? Do you want to take this up?

[2017-01-15 00:59] virajprabhu commented on #16
@anweshknayak Any update on this? Do you want to take this up?

[2017-01-15 03:25] anweshknayak commented on #16
@virajprabhu yup.

[2017-01-15 05:03] virajprabhu commented on #16
Great. Let me know if you need help.

[2017-01-15 09:05] souravsingh commented on #14
@virajprabhu I am interested in working on this issue.

[2017-01-15 13:07] virajprabhu commented on #14
@souravsingh Great. Does my updated description in the comment above make sense to you? Let me know if you need any help getting started.

[2017-01-15 15:54] devojoyti commented on #6
@anweshknayak @deshraj  Is the task completed ? Can I help ?

[2017-01-16 10:46] deshraj commented on #6
Hi @devojoyti, I think @anweshknayak is working on this. Can you please pick some other issue.

[2017-02-04 15:05] anweshknayak commented on #5
@virajprabhu please close this

[2017-02-08 14:14] anweshknayak commented on #16
@virajprabhu can you create something like this (https://github.com/Cloud-CV/CloudCV/blob/master/DirectoryDocumentation.txt) Will be helpful for newcomers

[2017-02-08 18:18] deshraj opened #26 "Add tensorflow in requirements"

[2017-02-08 18:49] deshraj opened #27 "Update the protobuf version to >=3.0 in requirements"

[2017-02-08 19:38] jainarunarunjain commented on #27
@deshraj Can i update this.

[2017-02-08 21:07] RishabhJain2018 commented on #26
@deshraj Can I work on this?

[2017-02-08 21:08] deshraj commented on #26
Sure.

[2017-02-08 21:08] deshraj commented on #27
Sure, go ahead. :-)

[2017-02-08 21:10] RishabhJain2018 commented on #26
@deshraj Which version should I add?

[2017-02-08 22:07] virajprabhu commented on #26
Can you add `0.9.0` for now? 1.0 has been released but we haven't tested with it yet, and it has some breaking changes.

[2017-02-09 04:30] RishabhJain2018 commented on #26
yeah sure.

[2017-02-09 23:14] #26 closed

[2017-02-09 23:15] deshraj commented on #27
Fixed in #28

[2017-02-09 23:15] #27 closed

[2017-02-11 06:43] #5 closed

[2017-02-11 06:50] dexter1691 opened #30 "Import all the models from Caffe ModelZoo into IDE"
We should try to successfully import all the models from Caffe ModelZoo to see if some layers are not working.
Consequently fix or add the missing the layers into the IDE.

https://github.com/BVLC/caffe/wiki/Model-Zoo

For GSOC participants:
This seems like a very good starting point to see how IDE works. Here is what you have to do
- Choose one of the models from the link above and create an issu

[2017-02-11 20:48] anweshknayak commented on #30
https://gist.github.com/jimmie33/7ea9f8ac0da259866b854460f4526034

This is working for me. @dexter1691

![screenshot from 2017-02-12 02 16 02](https://cloud.githubusercontent.com/assets/8139783/22857343/7757562e-f0c9-11e6-83f8-ffbceb7ce64e.png)
![screenshot from 2017-02-12 02 15 47](https://cloud.githubusercontent.com/assets/8139783/22857345/7ab13bc8-f0c9-11e6-82a5-0f1ef9a9414a.png)

[2017-02-11 21:32] dexter1691 commented on #30
Nice! Let's maintain a list of the one's that working and the ones that are not working. GoogleNet was already part of the ones that we used to check.

Let's keep trying others to find out the ones that are not working. I am sure there will be a few!

[2017-02-11 22:01] dexter1691 opened #31 "ResNet model not working"
I tried importing the prototxt file from here:
https://github.com/terrychenism/ResNeXt

And it doesn't seem to work because a few layers are not supported
1.) BatchNorm
2.) Element Wise
3.) Scale

We should add the support for these layers specially because ResNet is now a standard model that people use a lot.

[2017-02-11 22:31] anweshknayak commented on #30
https://gist.github.com/jimgoo/0179e52305ca768a601f Not working.

[2017-02-15 11:23] kris-singh commented on #30
I woul like to work on this

[2017-02-15 17:41] virajprabhu commented on #30
@anweshknayak Are you sure we have front-end support for all the layers in the prototxt?

@kris-singh Great, can you start with simple classification models like AlexNet and VGGNet? Would be great if you could try out a ResNet (it won't work at the moment) and open an issue with the layers that we are missing. It would also help you a good overall idea of the current status of the project.

[2017-02-23 11:22] Ram81 commented on #30
@virajprabhu  I am interested in this one can you guide me?

[2017-02-23 15:39] virajprabhu commented on #30
@Ram81 Great. Have you set up IDE and tried importing the example prototxt file for GoogLenet? We similarly want to be able to import a wide variety of prototxt files from the Caffe [Model Zoo](https://github.com/BVLC/caffe/wiki/Model-Zoo). For that, we may need to add front-end support for more Caffe layers. As a concrete starting point, can you try importing classification CNN models like AlexNe

[2017-02-24 09:14] Ram81 commented on #30
@virajprabhu sure I will setup IDE and let you know if I need some help :+1:

[2017-02-25 23:31] anweshknayak commented on #6
If anyone wants to pick this up. Please feel free to do so.

[2017-02-28 18:59] jainamritanshu commented on #14
@virajprabhu can I work on this?

[2017-02-28 19:04] jainamritanshu commented on #17
@deshraj @virajprabhu Can I work on this issue if it's still open and not assigned to anyone else?

[2017-02-28 19:53] virajprabhu commented on #14
@jainamritanshu Sure. Let me know if you need help.

[2017-02-28 19:58] virajprabhu commented on #17
@jainamritanshu This has not been assigned yet, but I'd recommend you take on one issue at a time so as to not block others. I'd recommend starting with #14 that you expressed interest in, since that is a simpler issue to get started with.

[2017-03-01 10:06] jainamritanshu commented on #14
@virajprabhu Sir I am facing many issues building caffe on ubuntu 15.10. By any chance have you had experience building caffe with ubuntu 15.10 and if not I find many compatibility issues with non-LTS versions of ubuntu building caffe. Would you recommend shifting from 15.10 to 14.04 or 16.04?

[2017-03-01 12:13] jainamritanshu commented on #14
@virajprabhu Sir I am having some confusion. I have successfully installed all the dependencies for the initial setup. Although I installed caffe as a docker image. The application will still not be able to import caffe modules in my local environment. Can you help me with this?

[2017-03-01 15:40] virajprabhu commented on #14
@jainamritanshu Sure. Can you share whatever issues you are running into on the [Gitter](https://gitter.im/Cloud-CV/IDE) channel?

[2017-03-01 16:26] utsavgarg commented on #30
@virajprabhu I am also interested in trying out classification networks if any hasn't been implemented yet

[2017-03-05 02:02] venky18 commented on #6
I am interested in this. I have a question should i use pip or miniconda?

[2017-03-05 02:05] venky18 commented on #6
thanks for quick reply. Since I am comfortable with pip I will be using  pip.

[2017-03-05 10:40] Ram81 opened #33 "Update Readme for tensorflow version"
while installing through conda tensorflow version required is >=0.12.0 so update readme for that detail

[2017-03-06 13:55] venky18 commented on #33
check comment on https://github.com/Cloud-CV/IDE/pull/34

[2017-03-06 17:25] utsavgarg commented on #30
@dexter1691
AlexNet from Caffe Model Zoo loads fine, but the 'Group' parameters present in conv layers are ignored.
https://github.com/BVLC/caffe/blob/master/models/bvlc_alexnet/deploy.prototxt
![alexnet](https://cloud.githubusercontent.com/assets/11680179/23621060/339ff280-02bf-11e7-9a83-480f731c57ee.png)
VGG-16 present in Caffe Model Zoo is for an older Caffe version, I updated the prototxt to s

[2017-03-06 18:33] Omarito2412 commented on #30
[Squeezenet](https://github.com/BVLC/caffe/wiki/Model-Zoo#squeezenet-alexnet-level-accuracy-with-50x-fewer-parameters)

![squeeze](https://cloud.githubusercontent.com/assets/4267096/23623801/0b906e2c-02ac-11e7-90dd-04f480c23952.PNG)

[2017-03-06 18:46] Omarito2412 commented on #30
[RCNN](https://github.com/BVLC/caffe/wiki/Model-Zoo#faster-r-cnn-towards-real-time-object-detection-with-region-proposal-networks)
![2](https://cloud.githubusercontent.com/assets/4267096/23624253/d0f542c2-02ad-11e7-9795-a23f2f5d48e5.png)

[2017-03-06 18:49] Omarito2412 opened #35 "Inception Not Working"
[The Inception Network](https://github.com/BVLC/caffe/wiki/Model-Zoo#inception-bn-full-imagenet-model) is not working with Fabrik at the moment.
Layers that fail:

- Scale Layer

- BatchNorm Layer

[2017-03-06 19:01] Omarito2412 opened #36 "S2VT model not working"
The [Squence to Sequence - Video to Text](https://github.com/BVLC/caffe/wiki/Model-Zoo#sequence-to-sequence---video-to-text) Model doesn't work.
The layers that cause this failure are:

- LSTM
- Embed
- HDF5Data
- Reshape

[2017-03-07 02:14] utsavgarg commented on #30
[Network in Network](https://gist.github.com/utsavgarg/37262bb660fd76801af1d098c95ab978)
![nin](https://cloud.githubusercontent.com/assets/11680179/23638808/d52ed130-0309-11e7-9dd9-95374137ab20.png)

[2017-03-07 02:37] utsavgarg opened #37 "Cascaded FCN doesn't load"
[Cascaded Fully Convolutional Networks for Biomedical Image Segmentation](https://github.com/BVLC/caffe/wiki/Model-Zoo#cascaded-fully-convolutional-networks-for-biomedical-image-segmentation) does not load.

The missing layers are:
- Crop
- Deconvolution

[2017-03-07 02:40] virajprabhu commented on #30
@utsavgarg @Omarito2412 Thanks for reporting these, and opening issues for the ones that don't work! If you would like to work on adding support to any of the ones that don't work, post on the issue thread and I'll assign it to you. Feel free to ping the Gitter channel / comment if you need any help setting up or would like to discuss the implementation.

[2017-03-07 06:14] utsavgarg commented on #37
@virajprabhu I'd like to work towards adding support for both of these layers

[2017-03-07 06:27] Omarito2412 commented on #30
@virajprabhu I would like to work on adding support for S2VT network #36

[2017-03-07 06:36] #33 closed

[2017-03-07 06:37] virajprabhu commented on #37
@utsavgarg Sounds good. Let me know if you need help.

[2017-03-07 06:38] virajprabhu commented on #30
@Omarito2412 Sounds good. Please go ahead, and let me know if you need help.

[2017-03-07 17:33] utsavgarg commented on #37
@virajprabhu I have added support for both of these layers for Caffe, and the network imports and exports fine.
![cascade_1](https://cloud.githubusercontent.com/assets/11680179/23669395/f78fb23c-0389-11e7-84b4-83b75d800ff5.png)

But, as far as I know both of these layers are not yet supported by [caffe-tensorflow](https://github.com/ethereon/caffe-tensorflow) so the export for Tensorflow will not

[2017-03-07 18:24] virajprabhu commented on #37
@utsavgarg Excellent! Yes, caffe-tensorflow does have some limitations but we could do with just Caffe support for now. Please submit a PR.

[2017-03-08 09:42] Omarito2412 opened #41 "Dropout can't be used without RELU"
I have found a bug while working on a fix for #38
If your network has RELUs before Dropout you will not have any trouble (Ex: AlexNet)
However in S2VT they use Dropout without RELUs, now this causes an error at jsonToPrototxt.py at line: 322
The reason for this is that the variable "inplace" is only set inside the RELU's context, and in this network
there are no RELUs so this causes a:
local varia

[2017-03-08 12:01] Omarito2412 opened #42 "Video2Text network not working"
The [Video2Text](https://github.com/BVLC/caffe/wiki/Model-Zoo#translating-videos-to-natural-language) network isn't working.
I believe the missing layers are the same as the layers needed for #36
I'm going to see if the fix for #36 will support it too.

[2017-03-08 16:07] #37 closed

[2017-03-08 16:10] #31 closed

[2017-03-09 11:48] #35 closed

[2017-03-09 12:28] dexter1691 opened #44 "Automatically parse Caffe Prototxt file to support all the different layers"
Caffe has all the layers and it's layer parameters defined in a prototxt definition. Instead of adding support for layers one by one inside IDE, it will be nice to automatically parse the definition from the master branch of caffe and add support for those layers.

**Requirements:** Understanding caffe's codebase written in C++, Understanding the prototxt structure and familiarily with automated t

[2017-03-09 12:34] dexter1691 commented on #44
All the layer parameter definitions here: https://github.com/BVLC/caffe/blob/80f44100e19fd371ff55beb3ec2ad5919fb6ac43/src/caffe/proto/caffe.proto

[2017-03-09 12:37] dexter1691 commented on #44
To identify the number of input / output blobs in each layer, we can query this function: https://github.com/BVLC/caffe/blob/master/include/caffe/layer.hpp#L200-L240

[2017-03-09 13:20] venky18 commented on #44
I would like to work on it.

[2017-03-09 13:23] dexter1691 commented on #44
@venky18 This issue is fairly difficult. Feel free to first get familiar with the caffe codebase and get started by first parsing the protobuf definition to identify the parameters. Update your progress here and let's take it from there.

[2017-03-09 15:04] #42 closed

[2017-03-09 15:05] #41 closed

[2017-03-09 15:05] #36 closed

[2017-03-11 16:36] utsavgarg commented on #16
@virajprabhu I was looking at this issue, but when I make changes to the style.css file they don't reflect in the web interface, is there any other file I need to modify to reflect those changes ?

[2017-03-11 16:47] virajprabhu commented on #16
@utsavgarg  That should work. Did you run webpack with watch / rebuild the bundle and refresh the page ignoring cache?

[2017-03-11 17:19] utsavgarg commented on #16
@virajprabhu yeah it did work, I was not running `python manage.py collectstatic`

[2017-03-11 20:37] utsavgarg commented on #14
@virajprabhu @dexter1691  I have made some changes to the front end to address these issues:

- fixed size of boxes
- flowchart extends vertically
- canvas scrolls instead of zoom
- added support for nice formatting of resnets in addition to the existing sequential networks and googlenet
- also addresses one issue from #16 where the buttons are now changed in appearance
Are these changes fine ?

!

[2017-03-11 20:43] virajprabhu commented on #14
This looks great @utsavgarg, thanks! Can you share a screenshot of how the layer details on hover show up? In case you haven't seen this before, [this](http://ethereon.github.io/netscope/#/gist/e65799e70358c6782b1b) is a neat implementation of the info boxes we could draw some ideas from. Apart from that, this is exactly what I had in mind, so please submit a PR. @dexter1691 @deshraj @abhshkdz may

[2017-03-11 20:52] utsavgarg commented on #14
@virajprabhu I have seen netscope before, but I haven't implemented that bit yet, the layer details are same as before, they pull up from the right side.

[2017-03-11 21:34] dexter1691 commented on #14
I am unsure about the vertical part. most models are deep and not very wide while most screens are widescreen and are in landscape orientation. So to me, it makes more sense to display the model horizontally.

[2017-03-11 21:40] virajprabhu commented on #14
But scrolling vertically is a lot more intuitive right? For any network that is deeper than what can fit in widescreen (which will be many, if we want to support ResNets!) I think vertical looks much nicer.

[2017-03-11 21:53] dexter1691 commented on #14
Hmm.. my concern was that we will be able to see more part of the network if we show the network horizontally. Using a touchpad to scroll will feel the same horizontally and vertically. However using a mouse scroll wheel to scroll will feel weird.
But maybe after putting menus / other features in the future we will be left with the same amount of space both horizontally & vertically.

Ok. Let's go

[2017-03-12 06:20] utsavgarg commented on #14
@dexter1691 I have added back the ability to pan, and have added support for zoom in and out based on keyboard shortcuts and double clicks.

[2017-03-12 09:05] venky18 commented on #44
@dexter1691  I read about protocol buffers and prototxt file and now i have written a small program to parse the protoxt file and print the different parameters.

[2017-03-12 18:14] utsavgarg commented on #16
@virajprabhu I have also added support for tool-tips on hover so all issues in this thread are addressed.

![screenshot from 2017-03-12 23-18-15](https://cloud.githubusercontent.com/assets/11680179/23834523/c7e07ba0-077d-11e7-9d3c-c8a6b3cdf780.png)
![screenshot from 2017-03-12 23-18-26](https://cloud.githubusercontent.com/assets/11680179/23834524/c9e4f7e6-077d-11e7-853a-f4f0ae9dadeb.png)

[2017-03-12 22:13] virajprabhu commented on #16
Looks good, thanks!

[2017-03-13 04:30] utsavgarg commented on #16
@virajprabhu yes I have.

[2017-03-13 09:34] Ram81 opened #47 "Models for Age & Gender Classification Does not work"
@virajprabhu @dexter1691 I've used this repo(https://github.com/GilLevi/AgeGenderDeepLearning) for testing the age & gender classification model from their project page (http://www.openu.ac.il/home/hassner/projects/cnn_agegender/) should I try this one?

[2017-03-13 16:14] utsavgarg commented on #47
@Ram81 The prototxt files present in that repo are for an older Caffe version, after upgrading those prototxt both models load fine.
![age](https://cloud.githubusercontent.com/assets/11680179/23863636/3f225900-0836-11e7-82c0-6e68c8885ddf.png)

[2017-03-14 10:51] Ram81 commented on #47
@utsavgarg Thanks for that :+1:

[2017-03-14 10:51] #47 closed

[2017-03-14 10:52] Ram81 commented on #30
@virajprabhu which one should I try can you suggest one?

[2017-03-21 19:21] utsavgarg commented on #17
@virajprabhu I have added support for static model sharing, the flow of events is as follows:

- export prototxt to url, a unique id will be given and the prototxt will be saved on the server
- import prototxt from url, enter the generated id, and the prototxt will load

![output_e6v7ot](https://cloud.githubusercontent.com/assets/11680179/24166551/9f242c48-0e99-11e7-9838-3fab567678e1.gif)

[2017-03-23 01:34] deshraj opened #49 "Add Installation Guide for different Platforms"
We would like to add different markdown files for setting up IDE on different Platforms such as
- Linux
- OS X
- Windows

[2017-03-31 12:19] achillesrasquinha opened #51 "TensorFlow in requirements."
I don't think TensorFlow should be part of the requirements.txt. Users could install this separately (or a build script can be written for the same - e.g. a Makefile) since TensorFlow wasn't completely registered under pip (*pip installable*) until their initial version release. This can also help new users of Fabrik to opt for GPU-tensorflow (which requires NVIDIA CUDA and CuDNN installed).

[2017-04-02 08:38] RAHULVAMUSANI commented on #16
Hey @virajprabhu  i would like to develop the user experience . what are the steps should i follow for assigning the task to me?

[2017-04-03 11:05] prasadwajekar commented on #30
I would like to work on this...

[2017-04-03 11:08] SudarAbisheck opened #52 "Fabrik doesn't prevent from creating cyclic graph"
![snap1](https://cloud.githubusercontent.com/assets/6151411/24606589/703d5714-188b-11e7-9190-422c15778bd9.png)
![snap2](https://cloud.githubusercontent.com/assets/6151411/24606590/704f2ae8-188b-11e7-88f3-06b229def11f.png)

When you try to export, it just throws internal server error.

[2017-04-03 11:15] SudarAbisheck opened #53 "Imported caffe model can't be exported as Tensorflow model"
I imported the example GoogleNet caffe model and when I tried to export it, the following error was thrown.

[code]

[2017-04-03 12:35] SudarAbisheck opened #54 "Needed improvement in layer insertion UI widget"
I use a computer with 1366x768 resolution monitor. The drop-down menu for inserting a new layer overflows out of the screen. I am not able to add layers like embed, lstm etc. This has to be made scrollable at least for the moment.

[2017-04-03 15:21] AhmedAbdulKarim commented on #30
how to be assigned to this?

[2017-04-04 02:25] virajprabhu commented on #30
@prasadwajekar @AhmedAbdulKarim You can try importing popular models from the Caffe Model Zoo, and comment on this thread with the status (success/fail). If it fails and you'd like to add support for the missing layer(s) required to get it to work, please submit a PR!

[2017-05-11 19:47] #54 closed

[2017-05-13 13:48] virajprabhu commented on #52
@SudarAbisheck Thanks for reporting this. Should be a simple enough check to add. Are you interested in taking this up?

[2017-05-13 13:53] virajprabhu commented on #6
Fixed in #56.

[2017-05-13 13:53] #6 closed

[2017-05-13 16:13] #51 closed

[2017-05-13 16:14] utsavgarg commented on #51
fixed in #64

[2017-05-13 16:14] utsavgarg commented on #54
fixed in #65

[2017-05-13 16:32] achillesrasquinha commented on #51
👍

[2017-05-15 15:55] utsavgarg opened #69 "Exported prototxt missing parameter values upon importing"
Prototxt files exported from Fabrik (to Caffe) do not load parameters from conv layers.

[2017-05-16 22:41] #69 closed

[2017-05-17 00:05] virajprabhu commented on #53
Fixed in #70

[2017-05-17 00:05] #53 closed

[2017-05-17 00:06] virajprabhu commented on #52
@utsavgarg Can you add this check?

[2017-05-26 07:42] utsavgarg commented on #52
Issue fixed in PR #74

![cyclic_1](https://cloud.githubusercontent.com/assets/11680179/26485496/f3918ace-4214-11e7-8381-ed88df39df55.png)
![cyclic_2](https://cloud.githubusercontent.com/assets/11680179/26485499/f48c35f0-4214-11e7-9a01-f75fff569d44.png)

[2017-05-31 10:52] #52 closed

[2017-06-01 08:07] virajprabhu commented on #16
Fixed in #67

[2017-06-01 08:07] #16 closed

[2017-06-01 08:07] virajprabhu commented on #14
Fixed in #67

[2017-06-01 08:07] #14 closed

[2017-07-31 02:08] #7 closed

[2017-08-08 22:59] #17 closed

[2017-08-14 15:04] virajprabhu commented on #44
Fixed in #77, #78, #79.

[2017-08-14 15:04] #44 closed

[2017-08-25 13:19] virajprabhu commented on #49
Fixed in #99

[2017-08-25 13:19] #49 closed

[2017-09-13 05:50] Ram81 commented on #30
@virajprabhu @utsavgarg "ResNets: Deep Residual Networks from MSRA at ImageNet and COCO 2015" doesn't currently get loaded in fabrik can I add support for it?

[2017-09-13 06:06] utsavgarg commented on #30
@Ram81 ResNet-101 is already there in the Fabrik Zoo and it loads fine. Which model were you trying ?
![image](https://user-images.githubusercontent.com/11680179/30362067-a3e17bfa-988c-11e7-8af8-6b3b2f00c3fd.png)

[2017-09-13 08:41] Ram81 commented on #30
@utsavgarg I tried ResNet-101-deploy.prototxt from https://github.com/KaimingHe/deep-residual-networks/tree/master/prototxt

[2017-09-13 08:45] utsavgarg commented on #30
@ram81 you will need to change the format of the input layer in that prototxt.

[2017-09-13 08:47] Ram81 commented on #30
Okay understood I'll try and find which one doesn't work & ask further

[2017-09-13 08:51] Ram81 commented on #30
@utsavgarg should I also report which one already works so that we can add it to Fabrik/Zoo?

[2017-09-16 07:39] utsavgarg opened #105 "Add models to the Fabrik Model Zoo"
We want to make the Fabrik ModelZoo a rich collection of models from all streams of deep learning research (vision, speech, text) and want to add models from both frameworks that are currently well supported by this project (Caffe and Keras).

For people looking to get started with contributing to this project, this is a very good starting point. To add a model to the model zoo, please do the foll

[2017-09-25 08:32] karandesai-96 opened #108 "TypeError after deleting layer: Cannot read property 'info' of undefined"
Whenever a layer is added in workspace and later deleted, I find this exception being thrown through the Chrome Console.

First traceback is while rendering the tooltip of `hoveredLayer` which would be undefined since it was deleted (I guess?):
[code]

Next, when I hover on another layer, it throws a new exception:
[code]

[2017-09-25 08:33] karandesai-96 commented on #108
I'm occupied with a few open PRs these days, but I'd want to see if I can solve it in a considerably brief amount of time. If not I'll write here again.

[2017-09-26 02:18] ithjz opened #109 "Did you join the tensorFlow framework?"
What algorithmic frameworks are used on the project?

[2017-09-26 02:19] nickeleres opened #110 "Cannot Export GoogLeNet into Keras"
Trying to export GoogLeNet from the "Model Zoo" dropdown at the URL below:

http://fabrik.cloudcv.org/#/?_k=ngzknm

And Im getting the error, "Cannot convert LRN to Keras" [see attached].  Im guessing this is because the LRN regularization layer doesnt have an associated entity in Keras.

![image](https://user-images.githubusercontent.com/3239870/30839347-2a76f026-a226-11e7-999b-e9513ba78310.png)

[2017-09-26 02:51] YuChunLOL opened #111 "[UI/UX] Not easy to know if Fabrik is exporting model or not"
I suggest that when the user clicks the "export" button, the system will show a dialog
or some other UI components which is easy to seize the user's attention. Since the position of "progress circle" is assigned to the top-right which is not very intuitive for the users, I think this design is not very well. Also, if the "progress circle" can show the progress to the user, it will be better.

[2017-09-26 03:42] utsavgarg commented on #110
@nickeleres as Keras does not have an LRN layer, it's not possible to export GoogLeNet to Keras.

[2017-09-26 03:44] utsavgarg commented on #109
@ithjz currently we support all layers(almost) from Caffe and Keras and a few layers(~10) from Tensorflow.

[2017-09-26 03:44] nickeleres commented on #110
A more descriptive error message would be helpful.  I checked the browser console and it was throwing a server error, so the error is clearly not handled/expected in the core code's exceptions.

[2017-09-26 03:53] nickeleres commented on #110
Im getting the attached 500s when attempting to export VGG 16 to Keras, as well.

![image](https://user-images.githubusercontent.com/3239870/30841916-8b2eed26-a233-11e7-8acd-970d86f61d86.png)

[2017-09-26 09:23] alexanderkjeldaas opened #113 "Document whether this tool can be used for text"
Thanks for this tool!

Could you put a section outlining what is in-scope and out-of-scope in the README?

It's unclear to me for example whether I can use this to create LSTMs, seq2seq, or in general handle text.

Also what the input to the models are, i.e. what plumbing is required when I have the output from the tool in order to get data in and out from the model would be good to outline in the

[2017-09-26 16:34] dexter1691 opened #115 "Add RNN / LSTM examples for Keras in ModelZoo"
Keras supports recurrent layers like LSTM / RNN / GRU etc. Right now model zoo for Fabrik doesn't contain any examples of network that uses these layers.

We should add a few examples to demonstrate the capability of using recurrent layers in a network and to test how import / export works for these layers.

[2017-09-27 17:45] virajprabhu commented on #110
@nickeleres Thanks for pointing this out. Agreed, we shouldn't be throwing an error. Will need to look into a fix.

[2017-09-27 17:52] #109 closed

[2017-09-27 17:56] virajprabhu commented on #108
@karandesai-96 Great, let us know if you can submit a fix.

[2017-09-27 17:57] virajprabhu commented on #111
@YuChunLOL Yes, that might be a nice feature to have. Let me know if you'd like to work on this.

[2017-09-27 18:01] virajprabhu commented on #113
@alexanderkjeldaas Thanks for pointing this out, we do need to add details for how one can plug output from Fabrik into your code. To answer your question, we can support any input datatype the underlying framework support.

[2017-09-27 18:03] virajprabhu opened #116 "Add documentation on plugging output from Fabrik into code"
Minimum: We need to write documentation how you can plug the model config file generated from Fabrik into your code.

Stretch: We should write a wrapper function that does this, and add it to our documentation.

[2017-09-27 18:22] Ram81 commented on #115
@dexter1691 can I take this?

[2017-09-27 18:23] dexter1691 commented on #115
@Ram81 : Go for it! Thanks!

[2017-09-27 18:36] prakharchoudhary commented on #115
@dexter1691 Since there are multiple models from several domains that can be added, would it be okay for me to work on this issue as well?

[2017-09-27 18:39] dexter1691 commented on #115
@prakharchoudhary Ofcourse! Feel free to work on it. I think to ensure efforts are not duplicated, before working on adding the examples, mention the model here so that everyone is aware of it.

[2017-09-27 18:39] Ram81 commented on #115
@dexter1691 can you point us to some of the models!

[2017-09-27 21:01] virajprabhu opened #117 "Add a title pane"
We should add a title pane with the model name – this should be an editable field which:
* defaults to untitled if the user is building a model from scratch
* takes the name of whatever the model file is called if loading from zoo / importing from any framework
* Should go into DB – when a shared link is opened, the same name should show up.

[2017-09-27 21:55] hd719 commented on #117
Hey can I work on this?

[2017-09-27 22:12] virajprabhu commented on #117
Absolutely, go ahead! Let us know if you have questions.

[2017-09-27 22:55] Insaida commented on #116
I could work on this.

[2017-09-28 05:07] utsavgarg commented on #115
@Ram81 you could look at Captioning models (Show and Tell, Neuraltalk), VQA models, and Text generation models.

[2017-09-28 05:10] Ram81 commented on #115
@utsavgarg I am referring this one https://github.com/jeffdonahue/caffe/blob/recurrent-rebase-cleanup/examples/coco_caption/lstm_language_model.prototxt as of now but I would need keras models right?

[2017-09-28 05:10] Ram81 commented on #115
@utsavgarg would it be fine if I export this model https://github.com/fchollet/keras/blob/master/examples/lstm_text_generation.py to json then use it as an example?

[2017-09-28 05:20] utsavgarg commented on #115
@Ram81 you could do it in Caffe or Keras, but choose one out of these two as they are quite similar.

[2017-09-28 05:25] Ram81 commented on #115
@utsavgarg I used this model https://github.com/jeffdonahue/caffe/blob/recurrent-rebase-cleanup/examples/coco_caption/lstm_language_model.prototxt  & tested it in here's the model

![lstm](https://user-images.githubusercontent.com/16323427/30950585-791ce8fe-a43b-11e7-8530-0e0029e4848b.png)
 But when I tried to export it to keras it says Can't determine size of HD5Data layer

[2017-09-28 05:26] Ram81 commented on #115
Also there are some examples available but I would need to obtain a json file through its implementation if you want I can test them too.

[2017-09-28 05:44] utsavgarg commented on #115
@Ram81 When you are adding this network, can you also see how to handle the visualization for it better? Also, the error for export to Keras is expected so that is fine.

[2017-09-28 05:46] Ram81 commented on #115
@utsavgarg Okay I will take care of the visualization.

[2017-09-28 14:06] dexter1691 commented on #115
I think we should also try just importing Keras layers with recurrent layers too. That might be easier / more reliable since Keras's support for recurrent layer is much better than caffe.
For instance, you can try importing model definition from here: https://github.com/fchollet/deep-learning-models/blob/master/music_tagger_crnn.py

[2017-09-28 14:19] dexter1691 opened #118 "Add VQA model in model zoo for Keras"
Fabrik can build / visualize very complex multi-modal architectures using Keras. One of the popular tasks for which we should add a model in model zoo is VQA. Here are some examples:

- Keras JSON files that can directly be imported: https://github.com/avisingh599/visual-qa/tree/master/models
- https://github.com/anantzoid/VQA-Keras-Visual-Question-Answering
- https://github.com/iamaaditya/VQA_Dem

[2017-09-28 14:21] dexter1691 opened #119 "Add Image Captioning examples in model zoo"
Image Captioning is another popular task for which we should have an example in Model Zoo

[2017-09-28 14:31] Ram81 commented on #115
@dexter1691 I would need to export that keras model to a json file, right?

[2017-09-28 16:49] souravsingh commented on #118
@dexter1691 I am interested in taking a stab at the issue.

[2017-09-28 18:01] dexter1691 commented on #118
Go for it. Thanks! Let us know if you run into issues or need clarifications.

[2017-09-28 22:18] utsavgarg commented on #115
@ram81 yes

[2017-09-29 08:02] Ram81 commented on #115
@utsavgarg I will create a PR for this model & start with adding examples for keras too.

[2017-09-29 20:57] prakharchoudhary commented on #118
@dexter1691 Thanks for directing us to the links. I tried testing the models by importing the json files on fabrik.cloudcv.org, however the loader keeps rendering and no visualizations seem to appear.

[2017-09-29 21:06] prakharchoudhary commented on #118
@dexter1691 Upon checking via browser dev tools, the POST api seems to throw a `ValueError`. The json data is valid, thus I believe we have a bug in the api. Should I create a new issue and work on it?
![json_import](https://user-images.githubusercontent.com/15031548/31036039-25ddd5ba-a588-11e7-9a11-b0c0b48ea85f.png)

[2017-09-29 22:20] dexter1691 commented on #118
Great! Thanks for looking into it.
This is why having all kinds of models in the model zoo is helpful, since it helps us surface bugs.
Please go ahead and create and issue and work on it.

Thanks again for doing an awesome job at this!

[2017-09-29 23:53] prakharchoudhary opened #122 "Unable to import json file of keras models"
When importing the json file of a keras model, the API throws a `ValueError`. There seems to be some trouble in loading the JSON data in the correct format. Following is a screen-shot of the error log:
![json_import](https://user-images.githubusercontent.com/15031548/31039911-6abf4a44-a59f-11e7-96a7-50a8db2a7df4.png)

[2017-09-30 00:00] prakharchoudhary commented on #122
@dexter1691 Thanks for the green flag to this issue. I will try to fix it ASAP so that we can continue with adding the models suggested in issues #115 and #118.

[2017-09-30 03:51] Ram81 commented on #122
@prakharchoudhary I tried importing keras models & it works for me.

[2017-09-30 04:19] Ram81 commented on #119
@dexter1691 #120 contains a model for captioning MS-CoCo datset images to be added in ModelZoo :smile:

[2017-09-30 07:39] prakharchoudhary commented on #122
@Ram81 Well this is surprising. What model did you import? Can you share the json file?

[2017-09-30 08:45] dexter1691 commented on #119
@Ram81 : This is just a language model, right? Can you find examples where both the CNN & Language Model are linked together?

[2017-09-30 08:46] dexter1691 commented on #122
@prakharchoudhary : Can you also share the JSON file you were trying to import so that we can further debug?

[2017-09-30 08:47] dexter1691 opened #124 "Add Seq2Seq Model for machine translation task in Model Zoo"

[2017-09-30 11:53] prakharchoudhary commented on #122
@dexter1691 The JSON file to replicate this error is [vqa_lstm.zip](https://github.com/Cloud-CV/Fabrik/files/1346381/vqa_lstm.zip). This model was can be found at the link suggested by you at:
https://github.com/avisingh599/visual-qa/blob/master/models/lstm_1_num_hidden_units_lstm_512_num_hidden_units_mlp_1024_num_hidden_layers_mlp_3.json

[2017-09-30 13:06] Ram81 commented on #119
@dexter1691 Sure I can get one :smile:

[2017-10-01 06:25] Ram81 commented on #111
@virajprabhu can I work on this?

[2017-10-02 03:24] utsavgarg opened #126 "Display parameters of the model being visualized"
We should display the number of parameters(weights of the model) the model contains somewhere on the screen. These parameter values should change whenever a new layer is added or some existing layer is changed.

[2017-10-02 03:46] utsavgarg commented on #118
@prakharchoudhary we are currently facing some *version* issues with Keras on our server, it's probably not an issue with the implementation itself. I would recommend you try importing the models on your local machine to get a better idea what the issue is.

[2017-10-02 03:48] utsavgarg commented on #122
@prakharchoudhary closing this. Please see comment in #118.

[2017-10-02 03:48] #122 closed

[2017-10-02 03:56] gpowale commented on #126
You can assign this to me, I can get started on this issue :)

[2017-10-02 04:19] utsavgarg commented on #126
@gpowale sure go ahead.

[2017-10-04 16:59] Ram81 opened #127 "Handle visualization of models having different arrangement for Test, Train phases."
![test](https://user-images.githubusercontent.com/16323427/31188698-68e79aca-a953-11e7-95f1-cee87916db0e.png)
Test Model
![train](https://user-images.githubusercontent.com/16323427/31188714-7415302e-a953-11e7-89aa-e8a94cb52ce0.png)
Train Model

[2017-10-04 17:00] Ram81 commented on #127
@utsavgarg I will start working on this :smiley:

[2017-10-10 06:46] #108 closed

[2017-10-10 06:47] utsavgarg commented on #108
Fixed in #129

[2017-10-10 19:06] deshraj opened #130 "Setup Docker containers"
## Current Scenario

Currently setting up Fabrik on a local machine for development requires running a lot of commands. We want to setup the docker containers so that setting up Fabrik is not pain.

## Deliverables

A basic setup that fulfills the following requirements:

- [ ] Different containers for Postgres, NodeJS and Django
- [ ] Add instructions in README

Please comment for if you have que

[2017-10-10 19:30] blazejkw commented on #130
Hi @deshraj,

can I take a look on this ?

Regards

[2017-10-10 19:38] deshraj commented on #130
@blazejkw, sure. Please let me know if you have questions.

[2017-10-12 00:56] utsavgarg commented on #105
@melvyniandrag we currently have some issue with Keras depenencies on the deplyed version which is why you might be facing problems in loading some models. I am not quite sure about the wrapping idea, if you could come up with a mock-up we can then discuss it further.

[2017-10-12 01:11] HugoHugo commented on #130
Can I take a look at this too?

[2017-10-12 17:13] melvyniandrag commented on #105
I guess this ties into the issue with the docker containers too? I guess I'll work on this in a container and then if no one has made one yet Ill submit the docker file too.

[2017-10-13 17:30] ayush1999 commented on #126
@utsavgarg @RishabhJain2018  Can I take up this issue? Please help me in getting started.

[2017-10-13 23:59] deshraj commented on #126
@ayush1999 please go ahead. We haven't heard from @gpowale for last 12 days.

[2017-10-14 00:00] deshraj commented on #105
@melvyniandrag: Sounds good. This is super critical so it would be great if you can submit the pull request really soon.

[2017-10-14 04:15] ayush1999 commented on #126
Thanks @deskraj . Can you please tell me how can I solve this? Just a little background.

[2017-10-15 00:07] valkyrie-101 commented on #115
@dexter1691 , is it ok if I work on it too? Correct me if I'm wrong, but more examples will do no harm.

[2017-10-15 07:23] Ram81 commented on #127
@utsavgarg Any suggestions on this?

[2017-10-19 20:26] blazejkw commented on #130
Hello @deshraj,

sorry for being late I was quite busy this week.

HOWTO:
`
git clone ...
cd Fabrik/
docker build . -t frontend:latest
docker-compose up
`
I'd like to propose some PR with the POC of containers and stuff. To be honest it was quite hard to prepare this but I hope this is a right approach. I think it's a good idea to first build container with a compiled 'caffe' etc. Since it takes q

[2017-10-19 20:32] deshraj commented on #130
@blazejkw: thanks for the update.

Having a basic setup first sounds good to me. We can segregate the different containers later. Also, you can go ahead and open a PR for the same. We can iterate and discuss on that PR.
I also agree that we should have a container compiled with 'caffe' since it takes a lot of time to build.

Please open the PR and then I will have a better sense what are you talki

[2017-10-20 15:58] AtharvaKhare commented on #124
Can I take this up or is anyone else working on this?

[2017-10-20 16:00] utsavgarg commented on #124
@AtharvaKhare sure go ahead.

[2017-10-20 21:27] viveksyngh commented on #117
Is anyone working on this one ?

[2017-10-20 21:32] deshraj commented on #117
I don't think so. Feel free to work on it.

[2017-10-20 21:42] viveksyngh commented on #117
@deshraj  I have few questions. Where this title field will be added in UI and if it needs to save to DB is there already existing model in which I can add this filed or I need to create a new model ?

[2017-10-20 21:55] virajprabhu commented on #117
Adding it on the top would be fine. And yes, we should save it to DB. @utsavgarg might be able to point you to the right model.

[2017-10-21 07:27] utsavgarg commented on #126
@ayush1999 you will have to calculate the number of parameters when a model is imported which should be simple as you can calculate the size of the weight and bias matrices. And then whenever a layer is added or deleted you add or subtract its parameters from the total count.

[2017-10-21 07:30] utsavgarg commented on #117
@viveksyngh the models are saved as a JSON object in the database which already has a `net_name` field so you don't need to change any model but just have to make a UI for displaying and changing that field.

[2017-10-21 09:54] utsavgarg commented on #110
@nickeleres the deployed version is now fixed, you should be able to export VGG-16 to Keras.

[2017-10-21 09:56] utsavgarg commented on #118
@prakharchoudhary the deployed version is now fixed, you should be able to import json files of keras models.

[2017-10-22 07:54] viveksyngh commented on #117
When I tried to run the app in local(ubuntu 14.04) by following the instructions in readme file .. I am getting below error ..
[code]

[2017-10-22 09:20] utsavgarg commented on #117
@viveksyngh you can check the chat on Gitter for installation problems.

[2017-10-22 09:34] AtharvaKhare commented on #117
@viveksyngh
[code]

[2017-10-22 18:07] manuhortet commented on #117
add the line @AtharvaKhare commented to your ./bashrc and source it (just run `source ./bashrc`), problem will be solved.

[2017-10-22 19:26] manuhortet commented on #105
Hello, I'm trying to add some models to the Fabrik ModelZoo. I've added the prototxts to the right `example/framework` folder and did the right calls from `ide/static/bundle/bundle.js`

The added models do appear in Actions > Load from zoo, but when I click them, nothing happens. No error message appears, so I'm not pretty sure what's going wrong. Any help here?

[2017-10-22 19:54] viveksyngh commented on #117
Even after doing that I am getting same error

[2017-10-23 14:32] AtharvaKhare commented on #105
@manuhortet I think you need to modify `ide/static/js/topBar.js`. `ide/static/bundle/bundle.js` is generated by webpack.

Also, are you keeping your models in `example/keras` or `example/caffe`?

[2017-10-24 20:13] manuhortet commented on #105
I did what you suggested but it doesn't seem to work either. I'm keeping my models in example/caffe, as I got them from the Caffe ModelZoo and are `.prototxt` files.

I found this comment on `netLayout.js`:

[code]

Maybe I'm trying to load invalid prototxt files? Btw thank you for your help Atharva!

[2017-10-27 14:28] suraj44 commented on #117
Is anyone working on this issue?

[2017-10-28 04:38] Ram81 commented on #126
@utsavgarg can I take this?

[2017-10-28 07:48] utsavgarg commented on #117
@viveksyngh are you working on this?

[2017-10-28 07:53] utsavgarg commented on #126
@Ram81 I'd recommend working on one issue at a time so that it's not blocked for others, so please finish #127 first as you had expressed interest in it and if still there is no update from @ayush1999 you can work on this.

[2017-10-28 07:55] #110 closed

[2017-10-28 08:01] utsavgarg commented on #105
@manuhortet if the prototxt files are invalid, an error should pop up. In case its not clear to add a model to the model zoo for Caffe you have to do the two following things:
1. Add the prototxt file in `example/caffe`
2. add a line like `<li><ModelElement importNet={this.props.importNet} framework="caffe" id="alexnet">AlexNet</ModelElement></li>` to `topbar.js`, in this the id should be the name

[2017-10-28 08:16] viveksyngh commented on #117
I was working on this one but I was not able to setup environment due to error. I was quite busy this week so couldn't continue. Try to setup the environment and work on this over weekend.

[2017-10-28 08:19] Ram81 commented on #126
@utsavgarg Sure

[2017-10-29 01:37] #124 closed

[2017-10-29 06:20] AtharvaKhare commented on #116
@Insaida are you working on this?

[2017-10-30 07:02] deshraj opened #136 "Setup Sphinx Documentation for Fabrik"
We want to setup Sphinx for the documentation of Fabrik. Feel free to look at the configuration of sphinx that we have for EvalAI (https://github.com/Cloud-CV/EvalAI/tree/master/docs).

[2017-10-30 07:07] deshraj opened #137 "Write documentation for adding new layers"
This issue is dependent on #136.

Things to take care of while writing the documentation:
- [ ] Write detailed documentation
- [ ] Provide small snippets
- [ ] Add a simple example of adding ReLU

[2017-11-01 15:57] deshraj commented on #130
@blazejkw any update on this?

[2017-11-01 17:51] blazejkw commented on #130
Hi @deshraj,

well I did some changes few days ago :)  Please take a look on  #133 and commit

https://github.com/Cloud-CV/Fabrik/pull/133/commits/f2d0ddde6eef058bad81aa5dac54c49ede03c974

Regards,
Blazej

[2017-11-04 06:29] #136 closed

[2017-11-10 12:02] Ram81 commented on #126
@utsavgarg can I start with this one now?

[2017-11-11 15:36] virajprabhu commented on #113
Covered by #116.

[2017-11-11 15:36] #113 closed

[2017-11-11 15:37] virajprabhu commented on #111
@Ram81 We haven't heard back from @YuChunLOL, so feel free to work on this.

[2017-11-12 12:21] GoodLuckDay opened #148 "Python ModelElement in topBar doesn't worked"
Hello. I have some questions. When Python pane drags and drops, it doesn't work and occurs error. Maybe is it not implemented yet?

![temp](https://user-images.githubusercontent.com/29690624/32698814-c1a7d738-c7ee-11e7-96c8-bc3ecfd4df25.jpg)
![image](https://user-images.githubusercontent.com/29690624/32698825-f385f33e-c7ee-11e7-8c76-6e6d1858e837.png)

[2017-11-13 10:30] utsavgarg commented on #126
@Ram81 Sure.

[2017-11-14 12:18] vpn1997 commented on #118
hey can i contribute to this?

[2017-11-16 17:04] Ram81 commented on #111
@virajprabhu in case of loader, should I fade the rest of UI until the model gets loaded& bring the loader to center of screen, what do you say

[2017-11-20 07:29] kdongha opened #154 "When exporting multiple times error"
I found a bug.

-Step to reproduce the problem

1. The model is loaded.

 2. Export the model once.

 3. Export the model again.

Then. An error occurs.

The error message is:
bundle.js:44086 Uncaught TypeError: Cannot read property '0' of undefined
    at bundle.js:44086
    at Array.forEach (<anonymous>)
    at Tooltip.render (bundle.js:44081)
    at bundle.js:16306
    at measureLifeCyclePerf (

[2017-11-20 07:48] GoodLuckDay opened #155 "The layer parameter doesn't displayed."
When I drag and drop any layer, the parameter is shown well.
But if new layer is dragged and dropped, that it doesn't display parameter.
Except for the first layer, the other layers don't show the parameters.

![2017-11-20 16-42-06](https://user-images.githubusercontent.com/29690624/33007414-06ad8570-ce12-11e7-9c6b-e3c9fd1cbfce.png)
-----------------------------------------------------------------

[2017-11-21 10:10] utsavgarg commented on #111
Fixed in #152

[2017-11-21 10:10] #111 closed

[2017-11-23 13:08] #148 closed

[2017-12-02 06:27] vpn1997 commented on #118
@dexter1691 Hey , i am working on this issue but theres seems to be some problem in importing json file (https://github.com/vpn1997/VQA)

![image](https://user-images.githubusercontent.com/17298412/33512494-ab78e920-d757-11e7-8489-3249634f1b67.png)

[2017-12-02 06:36] vpn1997 commented on #118
Also while trying out some models given in keras documentation,there were few models which were showing error while importing through json and was showing error like

file keras_app/views/import_json.py.

[2017-12-02 21:32] JPJPJPOPOP commented on #30
These two don't work due to being in the old Caffe format:
https://github.com/RankingCNN/Using-Ranking-CNN-for-Age-Estimation/blob/master/basic_16to66/deploy_basic.prototxt
https://gist.github.com/mavenlin/d802a5849de39225bcc6#file-train_val-prototxt

Will try updating them to see if they work.

[2017-12-02 22:27] JPJPJPOPOP commented on #30
Finished updating both:
RankingCNN: https://gist.github.com/JPJPJPOPOP/6ed94b737a45da81fbc55ce912d6da2a

NINImageNet: https://gist.github.com/JPJPJPOPOP/b8d9f5a1c4cd1bbe624f664f1b85d9bb

[2017-12-03 09:58] vhp1360 opened #159 "thereis not bundle.js"
Hello guys,
I finally installed _Fabrik_ but when try to browse it, I encountered blank page:
![image](https://user-images.githubusercontent.com/11258052/33524223-88e6f984-d82d-11e7-9851-0bfe77c5167c.png)
and when I tried to find _bundle.js_, there is not bundle folder in _./idle/static_ path.

what should I do?

[2017-12-04 05:49] JPJPJPOPOP commented on #159
@vhp1360 You need to run webpack --progress --watch --colors.

[2017-12-04 07:18] #159 closed

[2017-12-04 12:16] vpn1997 commented on #118
I have submitted a PR @dexter1691 please check.

[2017-12-05 04:04] virajprabhu commented on #154
Thanks for reporting, @kdongha!

[2017-12-05 04:07] virajprabhu commented on #155
Thanks for reporting, @GoodLuckDay!

[2017-12-07 02:43] trexdinosaur commented on #130
@deshraj , @blazejkw : Is this in a working state? If not, can I work on this as a GCI task in getting this to a working state?

Thanks

[2017-12-07 03:45] PalashTanejaPro commented on #130
@trexdinosaur I am already working on it.

[2017-12-07 07:30] JPJPJPOPOP opened #171 "Export and Import Buttons Appear On Top of Drop-down"
When clicking the model zoo and activating the drop-down with a small screen size, both the export and import buttons show on top of drop-down.

This also occurs when clicking the export button and activating the drop-down.

![screen shot 2017-12-06 at 11 29 44 pm](https://user-images.githubusercontent.com/13565154/33703535-5d08d514-dadd-11e7-842f-b9b528dadd2f.png)
![screen shot 2017-12-06 at 11 3

[2017-12-07 07:50] JPJPJPOPOP commented on #171
We could fix this by turning all the drop-downs into modals.

[2017-12-08 14:35] PalashTanejaPro commented on #130
@deshraj Please take a look at #172. I have fulfilled all your requirements

[2017-12-11 11:32] #171 closed

[2017-12-11 11:35] utsavgarg commented on #116
Initial documentation added in #173

[2017-12-11 11:38] utsavgarg commented on #115
Multiple examples added in #125 #134 #140 and #166

[2017-12-11 11:38] #115 closed

[2017-12-12 08:03] JPJPJPOPOP commented on #171
@utsavgarg Was this problem fixed?

[2017-12-13 13:51] vpn1997 commented on #154
@virajprabhu I have sent a PR regarding this issue.

[2017-12-17 06:50] utsavgarg commented on #154
Fixed in #181

[2017-12-17 06:50] #154 closed

[2017-12-17 06:55] utsavgarg opened #184 "Export fails after layer is added"
Export fails if a new layer is added to a model that has been loaded from the Fabrik model zoo.
Steps to recreate:
-  Load YoloNet from the Fabrik model zoo
- Add a Softmax loss layer
- Click on export to Caffe

[2017-12-17 07:04] Ram81 commented on #184
@utsavgarg I guess I know why this is happening

[2017-12-17 14:52] NSDCars5 commented on #184
I have a fix that's working to some extent - prototxt files are being generated. Is this enough or do we have to somehow check their validity? If so, how?

[2017-12-18 12:29] #117 closed

[2017-12-18 12:30] utsavgarg commented on #117
Added in #185

[2017-12-18 14:34] adamstafa opened #188 "Collapsibles' arrow in the sidebar can get unsynchronized"
When you press an arrow twice, or you have expanded one category in the sidebar and expand another category, the arrows will get unsynchronized.

[2017-12-18 16:36] adamstafa opened #191 "Visualization is broken"
The visualization algorithm is doing really fancy stuff when 2 layers are distant from each other. When they are close enough, there's no problem.
![image](https://user-images.githubusercontent.com/34075272/34116876-24a767b2-e41a-11e7-88d3-7326a8c62973.png)

[2017-12-18 17:14] trexdinosaur commented on #191
#186 adds an even more complicated algorithm to fix this issue, it's working, but not clean enough to merge yet.

It should be ready in like a day if there are no major bugs :)

Thanks.

[2017-12-18 17:17] trexdinosaur commented on #188
Did you end up fixing this? In #176, I added the expansion to work on the whole row, but it doesn't fix this. However, this seems to be a very edge case it doesn't seem very likely this would happen, unless the user is really frustrated and just mashing the arrow button.

[2017-12-18 17:21] adamstafa commented on #188
@trexdinosaur Yeah, this worked for me: #189. It also happened when you had one tab open and opened another.

[2017-12-18 17:54] gautamjajoo opened #193 "Added Instructions "How to add a new model""
Completing the GCi task of adding instructions to add a new model for both Caffe and Keras. Sending a Pull Request too.
Thanks

[2017-12-18 18:02] NSDCars5 opened #195 "Tensorflow export fails"
Exporting a model via Tensorflow fails, and the server delivers a 500 Internal Server Error. Not knowing how to deal with this, web IDE delivers no output and stays stuck at loading screen.

**Expected behavior:** a download of a generated model.

**Observed behavior:** stuck at loading screen, console shows server sent error 500.

**Steps to reproduce:**

1. Add input layer

2. Add softmax layer,

[2017-12-18 18:21] adamstafa commented on #155
The problem is in `tooltip.js, line 37`. `disabled` is `false` for every layer but the first one. I'll try to find out why 😄

[2017-12-18 18:43] trexdinosaur commented on #188
Ahh I see, that does work! Thanks. There should be no conflicts with #176

[2017-12-18 18:49] adamstafa commented on #188
@trexdinosaur actually my PR relies on `this.toggleClass(...)` that you removed in your PR 😀. The method can be called anywhere tho, so this won't be any hard-to-fix issue

[2017-12-18 18:55] adamstafa commented on #188
Ahhh nvm, you just moved the listeners to the parent divs lol. This won't cause any problems! :smile:

[2017-12-19 02:02] trexdinosaur opened #198 "Fabrik Doesn't work on Edge"
Fabrik doesn't seem to be working on the latest version of edge. Seems to be an issue w/ jsplumb.

As a temporary fix, can I add a message that says please use Google Chrome to access Fabrik?

[2017-12-19 02:45] PalashTanejaPro commented on #184
@NSDCars5 You can check their validity by importing them through Fabrik again!
Or you can write a script that uses that prototxt to construct a model

[2017-12-19 02:52] PalashTanejaPro commented on #198
@trexdinosaur Let me confirm that

[2017-12-19 08:06] utsavgarg commented on #188
Fixed in #189

[2017-12-19 08:06] #188 closed

[2017-12-19 08:12] NSDCars5 commented on #198
This seems to be related to this: https://stackoverflow.com/questions/11927309/html5-dnd-datatransfer-setdata-or-getdata-not-working-in-every-browser-except-fi

I replaced e.dataTransfer with a state variable in content.js and now drag drop works, as well as importing from the model zoo.

![Edge works](https://user-images.githubusercontent.com/5107795/34147072-6b4905f6-e4c2-11e7-99a9-8db32d6bd28f.

[2017-12-19 08:28] utsavgarg commented on #193
Closing as this is not an issue.

[2017-12-19 08:28] #193 closed

[2017-12-19 08:29] utsavgarg commented on #155
Fixed in #196

[2017-12-19 08:29] #155 closed

[2017-12-19 08:33] utsavgarg commented on #195
Tensorflow support has not been worked on in some time, but we should at least try to make it work properly for the layers we support.

[2017-12-19 08:39] utsavgarg opened #199 "Cannot add a layer after delete"
A layer cannot be added by click/drag and drop after a layer has been deleted.

### Steps to reproduce
* Add an input layer
* Add any layer and then delete it
* Try to add any other layer

### Expected behaviour
After a layer has been deleted, any new layer the user wishes to add should connect to the previous layer

### Observed behaviour
After a layer has been deleted, the user is unable to add

[2017-12-19 14:47] NSDCars5 opened #203 "Layers added in wrong position after scroll"
**Steps to reproduce:**

1. Add a few layers, distance them such that you have to scroll to see all of them.

2. Scroll down, and add a layer by dragging and dropping.

**Expected outcome:** Layer is added where you dropped it.

**Observed outcome:** Layer is added somewhere near the top of the canvas, where you have to scroll up to see it.

I think I have a fix, I'll start working on it.

[2017-12-21 14:07] #199 closed

[2017-12-21 14:11] #203 closed

[2017-12-22 07:52] Ram81 opened #206 "Cyclic edges should not be created"
@utsavgarg Even though Fabrik detects cyclic edges but it still doesn't delete them. In case we detect a cyclic edge we should not allow it to be created.
![abc](https://user-images.githubusercontent.com/16323427/34289978-1392bf68-e71b-11e7-823d-9c9ccee2f6c3.png)

[2017-12-22 08:12] Ram81 commented on #206
@utsavgarg even when we add layers using click event the logic is not able to detect cyclic edges, because we aren't adding parent layers of the newly added layers.

[2017-12-22 09:46] #184 closed

[2017-12-22 09:49] utsavgarg commented on #206
@Ram81 Detecting cyclic edges while creating the graph will cause inefficiencies and might not be ideal, the current logic detects them before export which I think is alright. Also, is there a sequence of actions that can lead to the creation of cyclic edges using click events?

[2017-12-22 12:07] Ram81 commented on #206
No, there is no sequence of actions that lead to the cyclic edges, the same problem due to which export was failing the new layer added using click event wasn't being stored in net object that's why for a layer added using click event cycle was not getting detected.

[2017-12-22 12:10] Ram81 commented on #206
Also I think I didn't specify this properly, we should detect cycles while creating graph, I meant if we detect a cycle then we should delete the connection added by the cyclic edge, as you can see in the snapshot the edge from pool layer to conv layer is still present even if it is detected as cycle. We should remove the new edge that is causing cycles in model (even from frontend).

[2017-12-24 20:48] trexdinosaur commented on #191
#186 has been merged, so the issue should be fixed @adamstafa. If it is please go ahead and close the issue :)

[2017-12-24 21:36] adamstafa commented on #191
@trexdinosaur sure, closing

[2017-12-24 21:36] #191 closed

[2017-12-28 08:34] rishabhjain2807 opened #218 "GOOGLE CODE IN RISHABH JAIN (wrong position of layers)"
Add a few layers, distance them such that you have to scroll to see all of them.

Scroll down, and add a layer by dragging and dropping.

Expected outcome: Layer is added where you dropped it.

outcome: Layer is added somewhere near the top of the canvas, where you have to scroll up to see it.

[2017-12-28 18:09] virajprabhu commented on #218
Thanks @RishabhJain2018. This does look like a minor bug. If you'd like to look into a possible fix, let me know and I could assign you.

[2017-12-28 18:27] utsavgarg commented on #218
I think this was already fixed in #204

[2017-12-29 09:02] rishabhjain2807 opened #222 "GCI -RISHABH JAIN"
setting up Fabrik on a machine for development requires running a lot of commands.
what we can do is
 Different containers for Postgres, NodeJS and Django
 Add instructions in README

[2017-12-29 14:54] Obtin opened #223 "Press button display with and without adding layer."
- the expected behaviour
When no layer is added the Press button should indicate its that it is non-functional.
- the observed behaviour
The button appears the same when being functional (layers added) and even when it is not.(no layers added).

Thanks!
when no layer added.
![fabrik1](https://user-images.githubusercontent.com/25207205/34439742-18abd4b0-ecd6-11e7-867b-959556423a5e.png)
after adding

[2017-12-29 22:37] nu11us commented on #223
I'm not sure what the problem is. When clicked on a button, it simply adds itself to the bottom of the network. If there is no layer bottom to be connected, it will not work. Are you suggesting that if it is not working it should be grayed out? If there is desire for that, I can easily edit the script for that.

**Image Data**, the first layer that you tested, cannot be added to itself, as it has

[2017-12-30 03:12] Obtin commented on #223
@nu11us, when no layer is added the Press button should act as it is deactivated.
![2](https://user-images.githubusercontent.com/25207205/34450899-47ffcc46-ed3d-11e7-9361-67a9879f409a.png)

And after adding layers when it is enabled, it may appear like this.
![1](https://user-images.githubusercontent.com/25207205/34450900-4b1733ec-ed3d-11e7-8b48-0eef9c8f843f.png)

[2017-12-30 03:41] nu11us commented on #223
But what if someone wants to use the layer through dragging? Each button has two main abilities: it attaches to the bottom of the graph when it is clicked, and it is placed when it is dragged and dropped. What you are suggesting would deactivate the button that could still be dragged.

[2017-12-30 17:07] Obtin commented on #223
I am very sorry @nu11us I did not get you. Please could you explain to me what does the button do when no layers are added and the nothing to work on.
![image](https://user-images.githubusercontent.com/25207205/34456019-f3fe5ea8-edb1-11e7-830c-6ae050c0ba94.png)
Thank you. :-)

[2017-12-30 22:25] nu11us commented on #223
Sorry about that. I thought you were referring to one of the buttons on the left. The press buttons should be disabled when then are no layers. I thought you meant once a button (i.e. Input Data) was pressed to create a layer. Yeah, *Press ]* and *Press [* should be disabled. Will get to that shorty.

[2017-12-30 23:48] nu11us commented on #223
Wrote code that disables the press buttons.

[2017-12-31 09:06] utsavgarg commented on #222
Closing as this is not a bug.

[2017-12-31 09:06] #222 closed

[2017-12-31 10:29] idealadarsh commented on #137
@deshraj I would like to work on this issue.

[2018-01-01 04:47] PalashTanejaPro commented on #195
After some testing with what @NSDCars5 mentioned here. Here are my observations:
  1. Caffe export works because unlike Tensorflow it doesn't check the validity of the model, it is purely syntactical.
  2. I am running on my fixed version of the Tensorflow backend in #214 and adding an fc layer before the softmax works for me.

[20180101043919tutmc.pbtxt.txt](https://github.com/Cloud-CV/Fabrik/fil

[2018-01-02 07:37] #218 closed

[2018-01-02 08:55] #206 closed

[2018-01-03 11:02] #195 closed

[2018-01-03 11:02] utsavgarg commented on #195
Fixed in #214

[2018-01-03 14:20] #137 closed

[2018-01-03 15:39] PalashTanejaPro opened #241 "Current Visualisation algorithm breaks for more than 4 layers in one horizontal line"
![image](https://user-images.githubusercontent.com/22736920/34527006-108efcf6-f0ca-11e7-85f9-9f427b5b1bae.png)
Steps to reproduce:-
- Create more than 4 layers in one horizontal line.
- Add layers below that row and try connecting it with a layer above the row.

Expected behavior in the given screenshot:
- There are paths that can be taken from in between the two nodes.
- It can also take paths fr

[2018-01-04 13:01] utsavgarg commented on #241
@PalashTanejaPro I am not sure if any model has this many layers in parallel if you can find an example we can then look at a possible fix.

[2018-01-04 16:57] trexdinosaur commented on #241
@PalashTanejaPro I think this is a bug w/ the viz algo, can you give me a json file, so I can replicate and fix?

[2018-01-05 11:15] #118 closed

[2018-01-05 11:43] galiaxy opened #249 "Dots Appearing on The Wrong Place"
When I add a new layer, the grey dots appeared at the wrong place.

![cloudcv fabrik - google chrome 2018-01-05 11 29 40](https://user-images.githubusercontent.com/22024041/34595669-58ec02f8-f20c-11e7-94c9-723f1ad81d69.png)

How to reproduce the bug:
- Add a layer
- Delete it
- Add a new layer

The browser I'm using is Chrome.

[2018-01-05 18:18] #30 closed

[2018-01-08 11:21] idealadarsh opened #253 "Images not visible on Fabrik's readthedocs site with inconsistent sub-headings."
Images not visible on Fabrik's readthedocs site http://fabrik.readthedocs.io

## Images are not visible
![_20180108_164506](https://user-images.githubusercontent.com/12227945/34668507-be2405ba-f493-11e7-976d-cc8f30f7b406.JPG)

## Sub-headings are inconsistent
![_20180108_164423](https://user-images.githubusercontent.com/12227945/34668508-be923102-f493-11e7-8a02-c70f3ec11c8d.JPG)

[2018-01-09 16:37] #253 closed

[2018-01-09 16:43] utsavgarg commented on #116
Added in #173, #216, #224 and #246

[2018-01-09 16:43] #116 closed

[2018-01-10 06:28] #198 closed

[2018-01-10 23:29] galiaxy opened #268 "Error When Importing relu6"
When I import a json file that contains a relu6 layer, it returns this error:
`ValueError: Unknown activation function:relu6`

Visually, relu6 just the same as relu. It's just sort of a copy of relu with some changes, so it (probably) won't be that hard to implement.

[2018-01-11 06:25] utsavgarg commented on #268
`relu6` seems to be a slight modification of `relu` with a upper cut-off at 6, it is available in Tensorflow but doesn't seem to be available in Keras by default, so I am not sure if we can directly add support for it,

[2018-01-11 13:50] galiaxy commented on #268
Alright. Should I close this issue then?

[2018-01-14 03:19] kurianbenoy commented on #126
Is this issue fixed or can someone take it up?

[2018-01-14 06:25] Ram81 commented on #126
@kurianbenoy I am currently working on it.

[2018-01-14 08:39] #268 closed

[2018-01-14 20:25] deshraj opened #278 "Disable the shareable feature when canvas is empty"
Right now, a user can use the feature to create a shareable link while the canvas is blank. We want to disable this service when the canvas is blank.

[2018-01-15 04:17] Ram81 commented on #278
@deshraj I would like to work on this

[2018-01-15 13:48] #126 closed

[2018-01-15 14:12] deshraj commented on #278
Sure @Ram81, go ahead. :)

[2018-01-15 14:29] #278 closed

[2018-01-16 03:38] galiaxy opened #282 "The Script `layers_export.py` Doesn't Recognize 'shape'"
[code]
Looks like `layers_export.py` doesn't recognize 'shape' as a key to `layer`

[2018-01-16 03:40] #282 closed

[2018-01-17 12:21] namansood opened #285 "Nondescript 'dim' error when adding certain data layers"
- **Steps to reproduce the problem:** add an ImageData, Data, HD5Data, WindowData or MemoryData layer.

- **The expected behaviour:** Layer is added without incident.
- **The observed behaviour:** Error that says 'dim', and nothing else. [Example.](https://i.imgur.com/fcMSAsG.mp4)

This seems to be an issue with the backend, can I work on this?

[2018-01-17 12:40] PalashTanejaPro commented on #285
@NSDCars5 I successfully reproduced the issue but **is it a backend issue?** I see no requests being made to the backend whatsover.

[2018-01-17 14:08] NSDCars5 commented on #285
@PalashTanejaPro There's a request made to /layer_parameter in updateLayerShape() in content.js, which sends back this error.

![screenshot_2018-01-17_19-36-49](https://user-images.githubusercontent.com/5107795/35046771-fbf74e5c-fbbd-11e7-875a-2537f42f0f1d.png)

[2018-01-17 14:11] PalashTanejaPro commented on #285
@NSDCars5 oh ok, this part of Fabrik was changed pretty recently.
This bug **might** have been introduced then.

[2018-01-17 14:15] NSDCars5 commented on #285
@PalashTanejaPro Yeah. I think I fixed the issue, waiting for a response from a maintainer to open a PR.

[2018-01-17 16:48] Ram81 commented on #285
@NSDCars5 this issue is because of shape calculation logic for any layer, do you want to handle this or should I do it ?

[2018-01-18 15:58] NSDCars5 commented on #285
@Ram81 I'd like to attempt it as a learning experience. Would it be okay if I made the PR and you can tell me if I mess anything up?

[2018-01-18 16:25] Ram81 commented on #285
@NSDCars5 sure go ahead & let me know in case of doubts

[2018-01-19 00:18] deshraj opened #290 "Add support to use sqlite3 database in development environment"
## Current Scenario

A developer needs to setup PostgreSQL to set up Fabrik but sometimes it is often needed to drop the database and create things again so it would be nice to use the sqlite3 database in development environment until and unless we are going to use queries like `.distinct()` which is not supported by sqlite3.

## Deliverables

- [ ] Add support for Sqlite3 database (the Django set

[2018-01-19 04:19] deshraj commented on #290
Closing this since we are using JSONField which is not supported by Sqlite3. Thanks @utsavgarg for pointing this.

[2018-01-19 04:19] #290 closed

[2018-01-19 14:37] adityaXXX commented on #127
@utsavgarg Can I contribute by solving this issue?

[2018-01-19 17:29] Ram81 commented on #127
@adityaXXX I am currently looking into various problems for this issue, can you please look for some other issue!

[2018-01-21 12:53] shahsaumya commented on #119
Can I work on this issue? @dexter1691

[2018-01-28 15:12] utsavgarg opened #293 "Extend Tensorflow support"
For Tensorflow, the import feature currently only supports a few layers (~10), we want to extend this to support as many layers as are available in our Keras backend (~60). Also, the current export for Tensorflow uses the Keras backend, we want to write a separate backend for Tensorflow export so that backends are not as highly coupled.

[2018-01-28 15:18] utsavgarg opened #294 "Add PyTorch support"
PyTorch is a recent deep learning framework which has become quite popular for researchers and we want to add support for it in Fabrik. The backend for PyTorch should be independent of our other backends so that changes in one do not affect the other. Adding support for this would entail adding both import functionality (which converts the PyTorch file to our intermediate representation) and the e

[2018-01-28 15:21] PalashTanejaPro commented on #294
@utsavgarg the pytorch to keras conversion code in my PR might be useful for someone who is implementing such a conversion system because Keras' API is very similar to the internal representation that Fabrik uses.

[2018-01-28 16:35] Ram81 commented on #293
@utsavgarg I would like to work on this one

[2018-01-30 01:42] PalashTanejaPro commented on #294
@utsavgarg Import using Keras is implemented in #284, can the person working on this test and use that code, if they are implementing import/export using Keras?

[2018-01-30 02:10] utsavgarg commented on #294
@PalashTanejaPro Sure.

[2018-01-31 02:48] Sayan98 commented on #119
Hi, if this issue is unresolved, I'd love to take this up!

[2018-02-02 19:06] Sayan98 commented on #294
@utsavgarg I would like to take this up.

[2018-02-03 18:45] RishabhJain2018 commented on #119
@shahsaumya @Sayan98 This issue is still open. Please let us know if you are interested in working on it.

[2018-02-03 19:51] thatbrguy commented on #119
@RishabhJain2018 Is image captioning the only model contribution you're accepting?

[2018-02-03 19:53] deshraj commented on #119
@thatbrguy: no, please feel free to open an issue for a new model that you are planning to add. We can discuss more about it there. Does that sound good?

[2018-02-04 06:11] Sayan98 commented on #119
@RishabhJain2018 Okay, I'm taking this up.

[2018-02-04 07:59] thatbrguy commented on #294
@utsavgarg Can I test the feasibility of using Keras's import for PyTorch implemented in #284 ?

[2018-02-04 08:23] Ram81 commented on #294
@utsavgarg we are going to use #284 for testing the implementation of pytorch import and export right? because it will be inefficient to use keras import and export right for pytorch's functionality?

[2018-02-04 10:13] thatbrguy opened #300 "[Bug] Cannot export to Keras using links at tested_models.md"
I tried to export models using the links provided in the Visualize section of the [tested_models.md](https://github.com/Cloud-CV/Fabrik/blob/master/tutorials/tested_models.md)

Here's what VGG16 looks like when I click the Visualize link in tested_models.md:
![post_zero](https://user-images.githubusercontent.com/30566404/35776200-4334226e-09be-11e8-9ede-0e33e822017e.png)

The same model loaded dir

[2018-02-04 14:53] utsavgarg commented on #294
@Sayan98 Sure, go ahead.

[2018-02-05 09:01] thatbrguy commented on #300
Issue addressed by PR #299. New model links need to be updated for tested_models.md, which i'll resolve. Closing the issue.

[2018-02-05 09:01] #300 closed

[2018-02-05 14:48] thatbrguy opened #302 "Zero parameter count"
Found another rather weird 0 parameter count issue.

**Steps to reproduce:**
1. Open fabrik.cloudcv.org, import VGG16 from model zoo.
2. Export model to caffe.
3. Open a new tab, open a fresh fabrik website, import the prototxt file. Params count should be normal. Obtain the share link.
4. Use the share link in a new tab. You should see a zero parameter count. Exporting works fine for VGG, but jus

[2018-02-05 16:28] Ram81 commented on #302
@thatbrguy I think I know why is this happening, can you let me handle this it is an issue in keras export part

[2018-02-05 16:36] thatbrguy commented on #302
@Ram81 Sure thing

[2018-02-13 07:43] siddas27 opened #303 ""ImportError: No module named _caffe " during Postgres migrate."
``
(Fabrik) siddharth@joker:/media/siddharth/SiD/project/Fabrik$ python manage.py makemigrations caffe_app
Traceback (most recent call last):
  File "manage.py", line 10, in <module>
    execute_from_command_line(sys.argv)
  File "/home/siddharth/Fabrik/local/lib/python2.7/site-packages/django/core/management/__init__.py", line 353, in execute_from_command_line
    utility.execute()
  File "/home/

[2018-02-14 11:13] kapilkd13 opened #306 "installation shellscript wipes present entries from .bash_profile"
Present shellscript is pretty good and makes source installation pretty smooth. The only problem I noticed is that it wiped my present PATH entries from `.bash_profile` file while installing caffe py-package in this line https://github.com/Cloud-CV/Fabrik/blob/master/requirements/caffe_tensorflow_keras_install.sh#L30 . I have made a fix, would push it soon.

[2018-02-14 19:41] saurabhpal97 opened #308 "Add model for Neural Style Transfer in the Model Zoo"
here I am trying to incorporate the models for Artistic Neural Style transfer based on CNN's, these models provide a solid understanding of the underlying working of Convolutional Neural Networks and thus can prove to be useful for people trying grasp the concepts of CNN's.
Paper link-: https://arxiv.org/pdf/1508.06576.pdf

[2018-02-15 22:25] deshraj commented on #303
@siddas27: it doesn't look like a cudnn error. I think you were not able to install caffe correctly on your PC. Please try again and watch for any cudnn errors.

[2018-02-16 07:36] #306 closed

[2018-02-18 12:03] kapilkd13 commented on #223
@deshraj @utsavgarg  I guess with https://github.com/Cloud-CV/Fabrik/pull/280 in place we can close this issue.

[2018-02-20 19:40] saurabhpal97 commented on #303
I had the same problem on my laptop, try installing Caffe from source.

[2018-02-23 06:03] utsavgarg commented on #223
@kapilkd13 Yes, thanks.

[2018-02-23 06:03] #223 closed

[2018-02-23 06:21] utsavgarg opened #311 "Modify model zoo UI"
The model zoo currently opens up as a modal, and therefore cannot hold all models that have been [tested with Fabrik](https://github.com/Cloud-CV/Fabrik/blob/master/tutorials/tested_models.md) as it will get too cluttered. Even without all the models present, there are many models which aren't as popular and it might be confusing for new users who might not be familiar with them.

Therefore, it mi

[2018-02-23 06:25] utsavgarg opened #312 "Document export for all tested models"
The [tested models](https://github.com/Cloud-CV/Fabrik/blob/master/tutorials/tested_models.md) list holds all models for which import and export has been tested. But, export is not always possible to all three frameworks currently supported (Caffe, Keras, Tensorflow). We should document in the same file all frameworks for which export works for each model model.

[2018-02-23 08:04] saurabhpal97 commented on #312
I'll try to test and document as much as I can.

[2018-02-23 12:41] thatbrguy commented on #311
@utsavgarg With reference to an old issue #300, the links at tested_models.md needs to be replaced with newer share links, to fix a bug related to parameter count and keras export. I would like to suggest that this be added as a sub-issue for anyone who wants to take it.

[2018-02-24 14:07] Ram81 commented on #302
@thatbrguy this issue was handled right!
can you close this

[2018-02-24 14:28] thatbrguy commented on #302
@Ram81 Ah my bad, I didn't verify if it was fixed so I left it open. Issue seems to be resolved, closing it now.

[2018-02-24 14:28] #302 closed

[2018-02-24 14:34] MuLx10 commented on #311
I want to take up this issue.I am currently working on it

[2018-02-25 03:38] Shivanshmundra commented on #293
@Ram81 What is the progress on this issue, if not much I would like to take this issue.

[2018-02-25 04:17] Ram81 commented on #293
@Shivanshmundra sorry but I am working on this, please take up some other issue.

[2018-02-25 04:19] Shivanshmundra commented on #293
Ok, I will look up for some another issue.

[2018-02-25 05:01] laylalaisy commented on #311
Do you think it's proper and better if we add an search bar at the top of the model ZOO UI,  so the user can search the wanted model quicker? @utsavgarg

[2018-02-25 06:24] vasu-dev commented on #294
@utsavgarg  @PalashTanejaPro @thatbrguy I would like to work on this , what all features has been already assigned ??

[2018-02-25 06:33] thatbrguy commented on #294
@vasu-dev I'm waiting until the remote pytorch branch is updated with the master, after that i'll open a PR to add the basic folders and files where everyone can contribute. I'm mostly working on the import, it's better if you ask more details on the gitter channel.

[2018-02-25 08:15] MuLx10 commented on #308
@saurabhpal97  can I take up this issue.

[2018-02-25 09:53] Shivanshmundra commented on #105
@utsavgarg What is the progress in this issue?
What are things left to done or to start, I would like to take this issue.

[2018-02-25 10:07] MuLx10 commented on #308
@saurabhpal97  Can I take up this issue?
I am already working on Style Transfer

[2018-02-25 10:13] MuLx10 commented on #294
@utsavgarg  @thatbrguy @PalashTanejaPro Has there been any progress on this issue?
I want to work on this issue.

[2018-02-25 10:18] saurabhpal97 commented on #308
@MuLx10  I am already working on the issue ,but you can work on Fast Neural Style Transfer.

[2018-02-25 12:26] MuLx10 commented on #308
@saurabhpal97  Can you please create an issue regarding Fast neural Style Transfer?

[2018-02-25 12:29] MuLx10 commented on #285
@NSDCars5  @Ram81 @PalashTanejaPro Has the issue been solved?Can I take up this issue?

[2018-02-25 12:41] Ram81 commented on #285
@MuLx10 Yeah it has been fixed

[2018-02-26 03:48] utsavgarg commented on #311
@laylalaisy Yes, that is a good idea. We can include a search bar which dynamically filters the list of models.

[2018-02-26 04:08] laylalaisy commented on #311
@utsavgarg Thx and I would like to implement it! I think search bar can be more convenient for some users.

[2018-02-26 04:51] MuLx10 opened #316 "Add model for Capsule Network"
I would like to add Capsule network which outperformed CNN on MNIST dataset.This would allow users to appreciate the current state of the art in Image Classification [link](https://arxiv.org/pdf/1710.09829.pdf)

**I am working on this issue.**

[2018-02-26 06:48] deshraj commented on #316
This is great. Thanks @MuLx10 for taking lead on this. :)

[2018-02-26 10:43] saurabhpal97 commented on #130
Is anyone workin on this issue?

[2018-02-28 13:41] thatbrguy opened #317 "Feature Request: Delete multiple layers in Fabrik"
As of now, we can delete one layer at a time. We have to select the layer we want to delete and scroll all the way to the bottom to delete the layer.

It's usually a hindrance if you want to make lots of changes to your network, but also do not want to clear everything.

A good solution would be to introduce an option to select and delete multiple layers. Please be sure to update parameter count a

[2018-02-28 19:42] yashdusing commented on #317
Can I work on this ? I'm not well versed with React yet so it might take some time

[2018-02-28 23:26] deshraj commented on #130
@saurabhpal97: it looks like the current PullRequests are not working properly. So, I started working on it. You can see the relevant comment here: https://github.com/Cloud-CV/Fabrik/pull/172#issuecomment-369419562

Please feel free to work on it if interested.

[2018-03-01 04:19] thatbrguy commented on #317
@yashdusing Verify in Gitter if someone else had already started work before you and if not, take it.

Regarding the issue though, I have a suggestion. You could introduce a button under actions called "Delete mode", and call the already existing delete function whenever delete mode is enabled and you click a layer.

You could also implement your own solution

[2018-03-01 16:56] Shivanshmundra opened #318 ""str" error while editing some params value in layers"
While editing some parameters value in layer it throws an error when exporting the model:
` "(edited float value)" has type str, but expected one of: int, long, float`

![error_float](https://user-images.githubusercontent.com/25545489/36857734-50b68a9a-1d9f-11e8-81d7-a6107353040e.png)

[2018-03-01 17:07] Shivanshmundra commented on #318
I have resolved the issue and will send PR.

[2018-03-07 20:49] utsavgarg commented on #311
@laylalaisy it's a nice effort, but the UI doesn't seem to scale well with different screen sizes. Also, I have updated the feature description, see if you can incorporate those changes in this PR.

![image](https://user-images.githubusercontent.com/11680179/37117377-03e2b422-228c-11e8-9992-77665e4271d3.png)

[2018-03-07 20:51] utsavgarg commented on #311
@MuLx10 @laylalaisy Instead of both of you working on this, it would be better for either one of you to take the issue or split the features so that no effort is wasted.

[2018-03-09 11:30] MuLx10 commented on #311
@utsavgarg I'll incorporate the extensions and discuss the split up with @laylalaisy

[2018-03-11 08:24] Shivanshmundra opened #327 "Add Backend Support for Caffe2"
Caffe2 is a deep learning framework that provides an easy and straightforward way for you to experiment with deep learning and leverage community contributions of new models and algorithms.
Adding Support for this in Fabrik would result in following improvements:

- One of the basic units of computation in Caffe2 is the **Operators**. So we don't need to worry about layers that are not already bui

[2018-03-11 12:17] Shivanshmundra commented on #327
Ping @deshraj @utsavgarg

[2018-03-13 18:24] Shivanshmundra commented on #317
@Ram81 @thatbrguy  Can you review this?
@thatbrguy  Is this what you wanted or something else?

[2018-03-13 18:29] yashdusing commented on #317
I was working on this :/

[2018-03-13 18:33] Shivanshmundra commented on #317
@yashdusing Sorry Due to no activity I thought issue is open.
Never mind, I had just started So you can take up issue.

[2018-03-13 18:35] yashdusing commented on #317
If you don't mind me working on this that is, could you take up another issue or have you implemented it ?

[2018-03-13 19:02] Shivanshmundra commented on #317
I have just implemented the basic part, So you can look at it and work on this issue.
I will find another issue.

[2018-03-14 09:31] zhuhuilong opened #330 "help！"
![image](https://user-images.githubusercontent.com/34827959/37387012-c380c018-2795-11e8-8a69-fa6b71ce3b28.png)
![image](https://user-images.githubusercontent.com/34827959/37387036-de778d02-2795-11e8-8e96-87d2c8300560.png)

[2018-03-14 14:09] thatbrguy commented on #330
@zhuhuilong Looks like an installation issue. Please ask such queries in our [gitter channel](https://gitter.im/Cloud-CV/Fabrik).

[2018-03-15 01:53] zhuhuilong commented on #330
you should  update your code

[2018-03-15 14:33] utsavgarg commented on #330
@zhuhuilong Please ask setup related queries on our [Gitter](https://gitter.im/Cloud-CV/Fabrik) channel.

[2018-03-15 14:33] #330 closed

[2018-03-15 14:34] utsavgarg commented on #241
Closing this as it doesn't seem to be a common use case.

[2018-03-15 14:34] #241 closed

[2018-03-15 15:35] #105 closed

[2018-03-15 16:03] utsavgarg commented on #317
@Shivanshmundra @yashdusing A more intuitive and simpler approach would be to include functionality which allows the user to use the `delete` key to remove a layer, this would make the process much faster.

[2018-03-15 16:04] utsavgarg commented on #303
@siddas27 Please discuss setup issues on the [Gitter](https://gitter.im/Cloud-CV/Fabrik) channel.

[2018-03-15 16:04] #303 closed

[2018-03-16 02:43] hwq2017 opened #332 "Export from Tensorflow"
I want to export the model of the googlenet network under the tensorflow framework, but always make the error: "Cannot convert 14(LRN),19(LRN) to Keras".

[2018-03-16 04:14] Ram81 commented on #332
@hwq2017 currently we don't provide support for LRN layer in keras and tensorflow uses keras as a backend for export.

[2018-03-16 05:11] thatbrguy commented on #332
You could checkout PR #287 if you want to work on it.

[2018-03-17 19:24] mabdullahrafique commented on #308
Can I take up the issue?
I know how to code neural style transfers and Cnn's

[2018-03-17 21:01] thatbrguy commented on #308
@mabdullahrafique PR #326 had an implementation of some style model. It was closed because it was structurally similar to AlexNet.

The real problem is, Grammian operation is not defined in Fabrik's backend. You would have to add support for that layer too. Otherwise almost every stylenet would be similar to some other existing model.

[2018-03-19 16:01] ayushpatel567 commented on #308
I have an experience with Neural Style Transfer and have coded them up in pytorch and tensorflow.How do i get started to do that for Fabrik

[2018-03-19 22:02] abrad1212 opened #334 "Website Down?"
Getting a `504 Gateway Time-out`

Is this just me?

![image](https://user-images.githubusercontent.com/9399948/37624774-5b37befc-2b97-11e8-8e53-149a6c1e536b.png)

[2018-03-20 06:40] deshraj commented on #334
@abrad1212 thanks for reporting. We are in process of shifting the website. So, it will be down for sometime.

[2018-03-20 06:40] #334 closed

[2018-03-20 07:56] hwq2017 opened #335 "Uncaught ReferenceError: jsPlumbUtil is not defined"
The index.html file refers to jsPlumb.min.js, but the jsPlumbUtil is undefined.

[2018-03-20 15:08] abrad1212 commented on #334
@deshraj Well that sucks! Any time frame of when the website will be back up? Also, I'm running Windows any supported way to get a local instance of this running on there... I have gotten to a point where I need to install Caffe to my conda environment and have the prebuilt Caffe binaries, do you know where to install them?

[2018-03-22 05:49] bogireddytejareddy opened #337 "from views import index, calculate_parameter, fetch_layer_shape ImportError: No module named 'views'"
This error is occurring during 'python manage.py makemigrations caffe_app' step in the installation process.

File "/home/bogireddy/Workspace/Fabrik/ide/urls.py", line 5, in <module>
    from views import index, calculate_parameter, fetch_layer_shape
ImportError: No module named 'views'

[2018-03-22 06:18] thatbrguy commented on #337
@bogireddytejareddy You're using Python 3. Fabrik runs on Python 2.7. Reinstall Fabrik on a python 2.7 environment.

It's an installation issue, please ask such questions in the [gitter channel](https://gitter.im/Cloud-CV/Fabrik).

[2018-03-22 08:45] bogireddytejareddy commented on #337
I am new to this. Thank you.

[2018-03-22 08:45] #337 closed

[2018-03-24 17:53] pengoox opened #338 "makemigrations not working on windows"
`python manage.py makemigrations caffe-app`
above command working as expected on ubuntu but on windows showing error
Error : ModuleNotFoundError: No module named 'views'

[2018-03-25 10:15] hanghi opened #339 "The page is blank"
I followed the guide, and when I open Fabrik page (http://127.0.0.1:8000 on my machine), it's blank.
I see this when loading the page: "GET /static/bundle/bundle.js HTTP/1.1" 404 1661
How can I fix this? I really need this tool to understand the model :( .
Thank you.

[2018-03-25 11:02] MuLx10 commented on #339
@hanghi  build the webpack
`webpack --progress --watch --colors`

[2018-03-26 10:30] Neuroscitechie commented on #294
I also want to work on this issue on GSOC

[2018-03-28 03:40] hanghi commented on #339
Hi,
I tried, but it said:
`The CLI moved into a separate package: webpack-cli.
Please install 'webpack-cli' in addition to webpack itself to use the CLI.
-> When using npm: npm install webpack-cli -D
-> When using yarn: yarn add webpack-cli -D`

Then, I tried to install webpack-cli
' sudo npm install -g webpack-cli'

And run:
`webpack-cli --progress --watch --colors`

But there is still error:
`/u

[2018-03-28 08:23] MuLx10 commented on #339
try to install webpack in the directory `npm i -D webpack-cli`

[2018-04-06 16:33] hanghi commented on #339
I followed what you say, and met this error

`Invalid configuration object. Webpack has been initialised using a configuration object that does not match the API schema.
 - configuration.module has an unknown property 'loaders'. These properties are valid:
   object { exprContextCritical?, exprContextRecursive?, exprContextRegExp?, exprContextRequest?, noParse?, rules?, defaultRules?, unknownConte

[2018-04-08 17:09] ashar6194 commented on #339
I am new to node.js, and I am facing the same issue, cannot get webpack to work :/.

[2018-04-08 18:33] tabshaikh commented on #312
Any leads on how to proceed on it

[2018-04-09 03:47] gautamjajoo commented on #312
@tabshaikh First, check which models are working in any of the frameworks. Make a list of three frameworks as a heading and add the models which are successfully exported in the respective framework.

[2018-04-09 07:44] MuLx10 commented on #339
make sure that webpack  is installed and its version is correct .If it doesn't work try installing `webpack@1.15.0` instead of the latest version.

[2018-04-21 07:20] MuLx10 opened #340 "No support for Linear Activation"
![image](https://user-images.githubusercontent.com/23444642/39081617-6433f4dc-4562-11e8-8c45-1c597f3d04f5.png)

Current keras app does not support linear activation

[2018-04-26 01:33] #285 closed

[2018-05-02 08:08] #130 closed

[2018-06-08 15:01] Ram81 commented on #339
@hanghi @ashar6194 you can post issues with setup on our gitter channel [here](https://gitter.im/Cloud-CV/Fabrik), closing this.

[2018-06-08 15:01] #339 closed

[2018-06-08 15:03] Ram81 commented on #332
@hwq2017 support for LRN is added in #356.

Closing this.

[2018-06-08 15:03] #332 closed

[2018-06-09 14:38] akshitac8 commented on #317
Is this issue up for working?

[2018-07-16 18:04] Ram81 commented on #335
@hwq2017 please post installation issues on gitter channel to get them resolved.

[2018-07-16 18:04] #335 closed

[2018-07-16 18:05] Ram81 commented on #338
@pengoox please post on gitter channel to get installation issues resolved.

[2018-07-16 18:05] #338 closed

[2018-07-27 02:39] PalashTanejaPro commented on #317
@utsavgarg I think this was already implemented in #238

[2018-08-13 16:42] rshrc opened #374 "502 Bad Gateway Error"
## The expected behavior
The Website should open properly

## The observed behavior
The Website is showing a 502 bad gateway error

## Steps to reproduce the problem
Visit the url http://fabrik.cloudcv.org/

### Which operating system and/or browser you're using, if relevant
Ubuntu 18.04 and Mozilla Firefox 61.0.1

## Screenshot

![screenshot from 2018-08-13 22-09-42](https://user-images.githubuse

[2018-08-13 18:16] RishabhJain2018 commented on #374
Hi, @rshrc Thanks for opening the issue.
We are currently working on the deployment setup for Fabrik. It will be up soon!

[2018-08-24 06:36] yashdusing opened #375 "psycopg2 import error"
Steps to recreate bug (This issue is probably due to the newer Bionic 18.04 release since I never encountered this issue on 16.04, also this is only for local setup & not for Docker)->
1. Followed steps till makemigrations
2.
![screenshot_20180824_115413](https://user-images.githubusercontent.com/19976688/44568839-0d027d00-a796-11e8-9240-1893153c0fcd.png)

Solution ->
1. pip uninstall psycopg2
2.

[2018-08-25 08:47] tabshaikh commented on #312
@gautamjajoo is there any slack channel for communication

[2018-08-25 15:07] gautamjajoo commented on #312
@tabshikh There is a gitter channel for communication. If you have any queries you can post it there.
And it seems that no one is working on the issue, you can proceed with it.

[2018-08-28 17:39] Ram81 opened #377 "Documenting codebase for RTC feature with appropriate comments"
@utsavgarg Once the RTC feature is approved will do this.

[2018-09-01 16:56] darthgera123 commented on #375
Hi i would like to work on this issue

[2018-09-03 14:00] yashdusing opened #379 "Simple model import error (tensorflow)"
Importing a simple model of matrix multiplication followed by a sigmoid/softmax from pbtxt gives an error.
Steps to recreate error
Download & import model from this link (https://www.dropbox.com/s/8y6hwtpzsybrony/SM.pbtxt?dl=0)
Also, bundle.js changes are not being reflected in real time in docker.

[2018-09-03 14:00] yashdusing commented on #379
I'd like to take up the import error .

[2018-09-09 10:35] Ram81 opened #381 "Add support for unique username and highlight color for all user in RTC session"
As per the current implementation of Real Time Collaboration feature all the anonymous user have same name **Kafka** and the highlighting color is assigned randomly for each new user that joins RTC session. Support for maintaining global context of usernames and associated highlighting color needs to be added to ensure each anonymous user has unique name and unique highlighting color.

[2018-09-18 05:39] Ram81 commented on #381
@yashdusing RTC feature is implemented, you can have a look at `RTC-Feature` branch for the code. Let me know if you need any help with codebase.

[2018-09-18 13:55] Ram81 commented on #375
Closing this

[2018-09-18 13:55] #375 closed

[2018-09-21 16:28] llucifer97 commented on #119
Hi @dexter1691  if this issue is still open , I will take up this issuse

[2018-09-23 18:41] sukhadj opened #382 "AttributeError: module 'startup' has no attribute 'run'"
Hello!!
I am trying to install on my Linux 16.04.
I got the following error while migrating:-

Console log :

Traceback (most recent call last):
  File "manage.py", line 10, in <module>
    execute_from_command_line(sys.argv)
  File "/home/sukhad/Fabrik/lib/python3.5/site-packages/django/core/management/__init__.py", line 367, in execute_from_command_line
    utility.execute()
  File "/home/sukhad

[2018-09-24 04:54] Ram81 commented on #382
@sukhadj please try setting up using python 2.7. And for setup related issues please post on [gitter](https://gitter.im/Cloud-CV/Fabrik) channel.

[2018-09-25 12:15] #382 closed

[2018-09-28 07:06] chanduparmar opened #383 "ModuleNotFoundError: No module named 'startup'"
Hello,
When I tried to run the server I got this error

Using Dev settings
Using Dev settings
Unhandled exception in thread started by <function check_errors.<locals>.wrapper at 0x000002B76B4B2048>
Traceback (most recent call last):
  File "C:\Users\Parmar\Anaconda3\lib\site-packages\django\utils\autoreload.py", line 225, in wrapper
    fn(*args, **kwargs)
  File "C:\Users\Parmar\Anaconda3\lib\sit

[2018-09-28 13:45] #383 closed

[2018-09-28 13:47] 2007anu opened #384 "Issue in building a docker. Facing an Issue - You may need an appropriate loader to handle this file type."
Hi,

 I am following the Installation Instructions under Docker and faced issue while using docker-compose up --build. I am using linux environment to build this docker. Attached is the screenshot as well as error log.

ERROR in ./~/entities/maps/legacy.json
reactjs    | Module parse failed: /code/node_modules/entities/maps/legacy.json Unexpected token (1:9)
reactjs    | You may need an appropriat

[2018-09-29 06:59] namish800 commented on #384
@2007anu run " npm install --save-dev json-loader " and add the following line in the loaders object in webpack.config.js file

        loader: 'json-loader'},

[2018-09-29 07:05] namish800 commented on #316
Is this issue still available.Can I work on this issue?
@deshraj

[2018-09-30 16:29] 2007anu commented on #384
Thanks @namish800 .

Even though that issue does not occur, but similar issue still persists related to json-loader.
Also one screenshot is attached which is a Browser link that I opened. It is blank and not showing any error.

Thanks for all the help.

Please find below the error:

reactjs    |  @ ./~/entities/lib/decode_codepoint.js 1:16-46
reactjs    |
reactjs    | ERROR in ./~/entities/lib/enc

[2018-10-03 07:43] sd1998 commented on #340
@MuLx10 Are you still working on this. If not I would like to work on this issue.

[2018-10-03 07:44] sd1998 commented on #318
@utsavgarg I would like to work on this.

[2018-10-03 07:45] sd1998 commented on #308
@saurabhpal97 @utsavgarg I would like to work on this. I have previously work with Neural Style Transfer models.

[2018-10-03 14:55] srika91 opened #387 "cannot load Lenet.pbtxt"
Attached the file for reference ,renamed the extension as .txt to upload here.Is there a certain way or initialization we need to follow to create the .pbtxt files to load in tensorflow ?Any help on this will be great.

[lenet.txt](https://github.com/Cloud-CV/Fabrik/files/2442536/lenet.txt)

[2018-10-03 18:11] thatbrguy commented on #387
You have to parse the pbtxt file into a GraphDef object. This following [link](https://stackoverflow.com/a/40306981) describes one way to do it.

[2018-10-04 08:33] srika91 commented on #387
@thatbrguy thank you for the reply.I was not clear i guess.The attached file in the first comment am not able to import it in Fabrik,anything wrong with that pbtxt file or any steps we need to follow to create pbtxt files compatible with fabrik?

[2018-10-04 16:31] srika91 commented on #387
@thatbrguy  sure would love to,but the fabrik does not provide any error statements related to tensorflow.It throws error related to Django. #379 also is similar to this i guess but not sure.Will post the Django related errors soon

[2018-10-05 11:31] srika91 commented on #387
[fabrik_error.txt](https://github.com/Cloud-CV/Fabrik/files/2450088/fabrik_error.txt)
 Attached the error file for your reference @thatbrguy

[2018-10-05 15:18] Shivanshmundra commented on #318
@sd1998 This issue was solved and I sent a PR regarding the same.
It was the issue of wrong datatype declaration.

[2018-10-06 08:18] Ram81 commented on #384
This issue has been fixed in #385

[2018-10-06 08:18] #384 closed

[2018-10-06 08:21] Ram81 opened #388 "Documenting backend codebase for RTC feature"
In `RTC-Feature` branch, implementation for Real Time Collaboration is in progress. In order to make code more readable documentation for backend codebase needs to be added.

[2018-10-06 08:27] Ram81 commented on #379
@yashdusing this issue seems to abstract and has a larger scope in changes, please open a new issue with specifics of the model you used.

[2018-10-06 08:27] #379 closed

[2018-10-06 08:29] #127 closed

[2018-10-06 11:19] Ram81 commented on #387
@srika91 what is the dimension of input layer?

[2018-10-06 13:46] thatbrguy commented on #387
Sorry for the late response. It's mostly a problem with the padding or shape calculation logic in `tensorflow_app/views/import_graphdef.py`. I think adding error or exception handling statements there should be enough. What do you think? @Ram81

[2018-10-07 06:53] Gurpreetsingh9465 commented on #387
can I work on this issue or someone is already working on this

[2018-10-07 18:10] sk9331657 commented on #377
@Ram81  Can I take up this issue??

[2018-10-07 18:15] sk9331657 opened #389 "Updating Readme And breaking Installation into different Readme for docker and local"
On the other hand, if you'd like to propose a new feature:

![screenshot from 2018-10-07 23-44-26](https://user-images.githubusercontent.com/17084322/46585174-f769be00-ca8a-11e8-9e5f-c2c9264be5e5.png)

Thanks!

@aayusharora  @varunagrawal  Please assign this to me.

[2018-10-08 16:57] Ram81 commented on #377
@sk9331657 Sure, you can find the code for `RTC`  feature in `RTC-Feature` branch. It will soon be integrated with `master` branch till then you can use the separate branch.

[2018-10-17 07:54] sashank27 commented on #340
@MuLx10 @RishabhJain2018 I would like to work on this, if it is available

[2018-10-21 06:51] Ram81 commented on #340
@sashank27 sure you can go ahead

[2018-10-23 19:50] Ram81 opened #391 "Fix issue with AvgPooling layer padding calculation"
Goal of the issue is to fix the bug in padding calculation logic for pooling layers. Due to miscalculation of padding shapes of layers are miscalculated leading to failure in model exports and wrong parameter calculation.

[2018-10-24 14:38] bikram99 commented on #391
Hello I am Bikram.I would like to work with on this issue,would you tell me where to start?

[2018-10-24 16:56] Ram81 commented on #391
@bikram99 you can start by setting up development environment of Fabrik. For starters you can look into code in `ide/utils`. Before that it would be good to understand how Fabrik works by looking into flow of components.

[2018-10-27 14:55] bikram99 commented on #391
@Ram81 ,hello I looked at the code in ide/utils.Would you tell me the path of the file to look into for the AvgPooling layer?
Sorry,actually I couldnt find it . :)

[2018-10-27 15:12] Ram81 commented on #391
@bikram99 the logic to calculate shapes of layers is in `ide/utils/shapes.py`

[2018-10-30 15:32] Ram81 commented on #389
@sk9331657 you can work on this.

[2018-11-01 22:06] Millenaire15 opened #419 "Google Account Login Failure"
Tried to login with my google account.

Expected to be redirected to the google login page.
Instead, I got an Error saying: DoesNotExist at /accounts/google/login/

I am using chrome.
Here is the error log:

Environment:

Request Method: GET
Request URL: http://django_server/accounts/google/login/

Django Version: 1.10.2
Python Version: 2.7.12
Installed Applications:
['channels',
 'caffe_app.apps.

[2018-11-01 23:47] RishabhJain2018 commented on #419
Hi @Millenaire15 Thanks for opening the issue.
We are working on it and it will be available soon.

[2018-11-02 16:37] AdithyaKannan opened #420 "During Google Log In It is Redirecting to onother"
_Thanks for taking the time to report a bug in the Fabrik project, or propose a new feature! Before creating a new issue, please do a quick search to check that it hasn't already been filed on the [issue tracker](https://github.com/Cloud-CV/Fabrik/issues)._

If you'd like to report a bug, please include the following information:
- the expected behaviour
- the observed behaviour
- steps to reprodu

[2018-11-02 16:39] AdithyaKannan opened #421 "It is Redirecting to another site when Log In through Google"
_Thanks for taking the time to report a bug in the Fabrik project, or propose a new feature! Before creating a new issue, please do a quick search to check that it hasn't already been filed on the [issue tracker](https://github.com/Cloud-CV/Fabrik/issues)._

If you'd like to report a bug, please include the following information:
- the expected behaviour
- the observed behaviour
- steps to reprodu

[2018-11-03 02:05] AdithyaKannan opened #422 "Cloud CV is not opening in Mozilla Firefox"
I tried to open Cloud CV with Firefox but message appears that it is not compatible with your browser.

[2018-11-03 03:51] thatbrguy commented on #422
I use firefox and I did not see any such message. Please post the version of firefox you used.

[2018-11-03 03:55] thatbrguy commented on #420
Duplicate of #421. Please close this issue @Ram81

[2018-11-03 03:55] thatbrguy commented on #421
@AdithyaKannan Thanks for mentioning this issue. Could you please explain the issue a bit more? As of now there are some issues with login, and we are working on it.

[2018-11-03 07:01] Ram81 commented on #421
@AdithyaKannan there is still an issue with login setup in production. We are working on fixing it.

[2018-11-07 13:19] #420 closed

[2018-11-07 13:20] Ram81 commented on #422
@AdithyaKannan can you post a screenshot to show what is not working on your end?

[2018-11-07 13:22] #340 closed, assigned to nobody

[2018-11-07 15:23] rshrc opened #432 "Login through github fails"
This following link results in errors. http://fabrik.cloudcv.org/accounts/github/login/

**The expected behaviour**
It should do authentication using GitHub
**The observed behaviour**
It does not do the required authentication
- steps to reproduce the problem
Browser : Mozilla Firefox
Thanks!

[2018-11-07 15:58] Ram81 commented on #432
@rshrc thanks for reporting we are currently working on this. We'll fix this asap.

[2018-11-08 08:39] alpharomeo7 opened #439 "Docker failed"
The error is :
 Failed to fetch http://archive.ubuntu.com/ubuntu/pool/main/f/fakeroot/libfakeroot_1.20.2-1ubuntu1_amd64.deb  Connection failed [IP: 91.189.88.161 80]

while setting up the docker

Thanks in advance

[2018-11-08 08:48] Ram81 commented on #439
@alpharomeo7 this doesn't seem to be an issue on our end. It may be an issue with your network, because docker setup works good on my end. But I'll cross check and get back to you on this.

[2018-11-08 16:32] #439 closed

[2018-11-11 17:15] haabhi opened #447 "Models exported as graphdef protos for Tensorflow cannot be trained."
When graphdefs are imported using tf.import_graph_def(), variable collections within tensorflow such as GLOBAL_VARIABLES and TRAINABLE_VARIABLES are not updated. Since tensorflow optimizers look for variables to optimize in the above collections by default, calling tf.train.Optimizer.minimize() fails with an error saying that there are no variables to be optimized.

This strangely seems to be an i

[2018-11-13 17:04] Gurpreetsingh9465 opened #448 "Export model not working"
Not able to export any model from the model zoo it is not working for all the models and file format

[2018-11-15 06:18] thatbrguy opened #451 "Incorrect parameter count when loading some models after exporting"
Parameter counts are different for some models when you import the same model from `prototxt` (Caffe) and `json` (Keras). The count for prototxt is wrong.

**Steps to reproduce:**
- Export one of the following models to Keras and Caffe from the model zoo. Note the parameter count:
    - Inception V3
    - Inception V4
    - Yolo
    - ResNet 101

- Import the models back to Fabrik via Keras and Ca

[2018-11-15 07:13] Ram81 commented on #451
Thanks for reporting @thatbrguy

[2018-11-17 10:30] seventeen-iterator opened #457 "Celery workers crashes if tried to export model"
I've made installation steps for the virtual environment, described in `README.md`. Loaded model (I was picking the ones that don't contain any recurrence) from the zoo folder and tried to export it. Neither Caffe, Keras, nor Tensorflow exports worked. Nothing happens after the click on the front-end, but celery worker crashes with the following error:
[code]

On the other hand export doesn't work

[2018-11-17 10:37] seventeen-iterator commented on #457
I was running on Debian 9. Might be the same for Ubuntu. Does not depend on browser since it's backend problem.

[2018-11-17 16:06] sayamkanwar opened #459 "Security bugs"
There are some security bugs which can be fixed.

**1. Application entry point**
I fetched the 'csrftoken' from /accounts/login/ from the csrf token cookie using console.log(document.cookie) and inspected the source code of /accounts/login/ for the value of 'csrfmiddlewaretoken'.

COMMAND
[code]

OUTPUT

[code]

This is a vulnerability as it allows login requests from other origins.

**2. HTTP Met

[2018-11-17 17:39] #448 closed

[2018-11-18 12:05] Ram81 commented on #317
@Gurpreetsingh9465 sure go ahead.

[2018-11-19 04:59] namish800 commented on #451
@Ram81  Can I work on this issue?

[2018-11-19 07:39] gautamjajoo opened #463 "Share button should be disabled when canvas is empty"
### Observed Behaviour
One can get a shareable link if the canvas is empty.

### Expected Behaviour
The share button should be disbaled

@Ram81

![capture](https://user-images.githubusercontent.com/24366008/48692522-5b3fe480-ebfc-11e8-8ccc-35505a9a1931.PNG)

[2018-11-19 15:34] Ram81 commented on #463
@gautamjajoo sure go ahead.

[2018-11-20 03:09] gautamjajoo commented on #422
@AdithyaKannan @Ram81 It works fine for me too.

[2018-11-30 09:17] BK1603 commented on #308
Is the issue still open?
Can I try helping with this?

[2018-11-30 09:50] Ishmeetsingh97 commented on #312
Is someone working on this?
I can work on this one?

[2018-12-03 09:44] BK1603 opened #484 "The items under wrapper are not properly aligned in chrome"
The items under wrapper are not properly aligned on chrome.
They are expected to be aligned as under Normalized:

![screenshot_bug](https://user-images.githubusercontent.com/29245744/49365844-d5e52580-f70d-11e8-921f-b4b05299a2e2.jpg)

I'd like to fix this issue

[2018-12-04 19:12] supra08 commented on #249
@Ram81 can I pick it up?

[2018-12-05 04:44] Ram81 commented on #249
@supra08 sure you can

[2018-12-05 05:46] isdanni commented on #312
Wonder the same?

[2018-12-05 07:12] namish800 commented on #391
@Ram81 I would like to work on this issue. Can you tell me How to reproduce this issue?

[2018-12-05 07:32] tabshaikh commented on #312
Yup working on it :)

[2018-12-05 09:21] BK1603 commented on #484
I am working on this but the work will be a bit slow till 8 :sweat_smile:

After that I would be able to invest all my time in this project :smile:

[2018-12-05 10:32] rahulsnkr opened #489 "Feature Request: Add a new section in Model Zoo for Generation"
Generative Adversarial Networks (GANs) have gained a lot of traction, both from research point of view, as well as development, due to their numerous applications. A lot of GAN architectures have also been published, for example -
* [Vanilla GAN](https://arxiv.org/abs/1406.2661)
* [DCGAN](https://arxiv.org/abs/1511.06434)
* [Conditional GAN](https://arxiv.org/abs/1411.1784)

Therefore, it makes se

[2018-12-05 11:23] Ram81 commented on #489
@rahulsnkr sure go ahead

[2018-12-05 16:16] rahulsnkr commented on #489
At the moment, Fabrik is not capable of importing/exporting two networks at the same time, and the given issue is dependent on the same, since a GAN consists of two networks, i.e. a generator and a discriminator. How should I proceed from here? Should I try to add support for Fabrik so that it is capable of supporting more than one network?

[2018-12-06 17:33] thatbrguy commented on #489
@rahulsnkr In my opinion supporting more than one network does not sound like a good idea. Other than massive UI redesign, we also have to take care of proper usage of graphs and sessions in Keras and TF.

Instead of that, we can just use Generators and Discriminators separately. To be honest, most Generators are variants of U-Nets and Autoencoders. Similarly, Discriminators are straightforward to

[2018-12-07 10:33] rahulsnkr commented on #489
@thatbrguy yes that seems like a much better idea. It will also give the users more flexibility. Maybe the 'Generation' section can have two subsections for generators and discriminators, and as you said, the user can be prompted to download a discriminator when exporting a generator, and vice versa. @Ram81 does this sound ok?

[2018-12-08 09:32] kartikdutt18 commented on #489
@rahulsnkr @Ram81 If generators and discriminators are made available separately, Can I work on DCGAN ?

[2018-12-09 15:18] anigasan opened #495 "Create documentation listing currently supported layers for Keras, Caffe and TensorFlow"
I had documented all layers supported in Keras, Caffe, and Tensorflow. I would like to submit.

[2018-12-10 05:33] Ram81 commented on #489
@rahulsnkr can you research if it's feasible to have multiple model in fabrik's current implementation. If it is not feasible then we can go ahead with some other approach

[2018-12-10 06:50] rahulsnkr commented on #489
@Ram81 i'll look into it!

[2018-12-11 17:34] yashdusing commented on #495
Hey @anigasan ! Could you close this issue since you have submitted a PR for the same ?

[2018-12-11 17:40] Ram81 commented on #495
Closing this as this is not an issue

[2018-12-11 17:40] #495 closed

[2018-12-12 17:32] #422 closed

[2018-12-13 13:11] rshrc commented on #463
Is there a current pull request regarding this feature request?

[2018-12-13 13:31] gautamjajoo commented on #463
@rshrc No, I haven't opened a PR yet, will be doing in some time.

[2018-12-13 13:38] rshrc commented on #463
@gautamjajoo I was learning React, and thought of this as an easy issue, can I work on it? Maybe you can walk me through on how to go about it? I'll get familiar with the code base on the way. If possible obviously.

[2018-12-13 13:52] gautamjajoo commented on #463
@rshrc Ok, you can work on it!

[2018-12-18 01:58] ksurya opened #506 "Unable to export model"
If you'd like to report a bug, please include the following information:
- the expected behaviour: download model file
- the observed behaviour: no download
- steps to reproduce the problem: (a) select a seq2seq model from zoo (b) click Export - Keras/Caffe/TF
- which operating system and/or browser you're using, if relevant: Chrome/Safari
- (if possible) copies of the console/server logs:
<img wi

[2018-12-19 02:52] rahulsnkr commented on #484
@BK1603 are you still working on this issue?

[2018-12-19 07:19] Gurpreetsingh9465 commented on #391
can i work on this issue

[2018-12-19 07:57] BK1603 commented on #484
I won't be able to work on this

My laptop is messed up and i haven't been able to fix it

It is an open issue

[2018-12-19 08:03] rahulsnkr commented on #484
Can I take up this issue?

[2018-12-19 17:44] namish800 commented on #391
@Gurpreetsingh9465 I am already working on this issue.

[2018-12-19 17:45] Gurpreetsingh9465 commented on #391
Ok nimish

[2018-12-29 21:17] epicfaace commented on #419
The same error comes up for Github login at http://fabrik.cloudcv.org/accounts/github/login/

[2019-01-06 05:40] rohanasthana commented on #489
Is this still open? I would like to work on this issue

[2019-01-13 20:42] Ishmeetsingh97 commented on #506
Hi ksurya, I can download the exported models from seq2seq. I am ubuntu 16.04 LTS and firefox brower.

[2019-01-27 13:29] Debapriya-Tula opened #510 ""docker-compose up --build" throws DistributionNotFound error"
- the expected behaviour
Command should have run with no errors

- the observed behaviour
Throws DistributionNotFound error

Traceback:

  File "/usr/bin/docker-compose", line 5, in <module>
    from pkg_resources import load_entry_point
  File "/usr/lib/python3/dist-packages/pkg_resources/__init__.py", line 2927, in <module>
    @_call_aside
  File "/usr/lib/python3/dist-packages/pkg_resources/__

[2019-01-28 10:35] nikhilmudholkar commented on #389
Anyone working on this? I would like to work on this issue

[2019-01-28 10:58] nikhilmudholkar commented on #484
I would like to work on this. Is this issue open?

[2019-01-28 11:05] gautamjajoo commented on #484
@nikhilmudholkar Hi! It seems that @rahulsnkr has already opened a PR for the issue. Feel free to take up any other issue. :)

[2019-01-28 11:07] nikhilmudholkar commented on #389
hey @sk9331657 are you working on this one or should i take this up?

[2019-02-03 08:46] LuckyPigeon commented on #510
What's your docker-compose version?

[2019-02-03 08:54] Debapriya-Tula commented on #510
1.8.0 build 94f7016.

As was asked to.

On Sun, Feb 3, 2019, 2:16 PM Pigeon <notifications@github.com> wrote:

[2019-02-03 16:38] LuckyPigeon commented on #510
Can your docker-compose run other docker-compose.yml?

[2019-02-05 13:36] dwlsalmeida commented on #294
How is progress on this, especially with the release of PyTorch 1.0? Is there room to help still?

[2019-02-13 12:59] TimVanMourik opened #512 "Fabrik is built with DEBUG settings"
### To reproduce:
* Go to http://fabrik.cloudcv.org
* Click on the GitHub Login button

### Behaviour
Because the GitHub login throws an error, a Django debug page is shown and your environment variables are there to see for public. Nothing sensitive (no SECRET_KEY and all), but still.

### Expected behaviour
An error 500 screen should be shown.

### Suggested solution
Currently the production set

[2019-02-21 10:28] TimVanMourik opened #513 "Collaboration with GiraffeTools"
## Collaboration possibilities
In a completely different field with a completely different angle, I've been working on an almost identical application. The commonality is that both are 'just' graphical pipeline editors where I have been focussing on neuroimaging and MRI data analysis, you have been focussing on machine/deep learning.

My focus on reproducible analysis is similar and the applicatio

[2019-02-24 08:06] Debapriya-Tula commented on #510
It was able to run other .yml  files. I tried installing docker-compose again. It did not pose the same error this time. But now I am facing a new error while running docker-compose up as was mentioned in the steps.

[code]

Sorry for closing the issue mistakenly.

[2019-04-07 10:29] palash-taneja opened #514 "Improving security in shared links"
Currently, the link sharing system uses simple number based indexing to access models from the db. This has a minor security issue because all user created models can be trivially retrieved by just iterating from all numbers from 1 to `the currrent counter` by changing the id parameter in the URL.

`http://fabrik.cloudcv.org/load?id=2`

Ideally, you would want to create a random string that is at

[2019-04-21 15:57] KSDeng opened #515 "networkId in caffe_app/consumers.py undefined when modifying parameters of layers"
Currently, I'm trying to build NN by myself using Ubuntu16.04 in VMware, but I encountered a problem when I try to modify the parameters of the Input layer. The information says the variable 'networkId' is undefined in function 'ws_receive' in caffe_app/consumers.py. I don' t know why? Does anyone encountered the same problem?
![image](https://user-images.githubusercontent.com/38119799/56472434-ff

[2019-04-22 08:49] KSDeng commented on #515
I tried the same operations and found the same error for any kind of layer, seems like a serious bug....

[2019-05-04 15:16] ajitesh-30 commented on #512
@TimVanMourik  Can i work on this issue .

[2019-09-01 16:02] LuckyPigeon commented on #514
@PalashTanejaPro May I implement this feature?

[2019-09-05 07:44] hk1997 commented on #308
Is this issue still open, can I work on this?

[2019-10-31 08:44] nikochiko opened #516 "psycopg2 causes error while installing fabrik on ubuntu 18.04"
OS: Ubuntu 18.04 WSL running on Windows 10 Home
Environment: Python2.7 virtualenv as described in [readme installation instructions.](https://github.com/Cloud-CV/Fabrik/blob/master/README.md)
Error occurred during: Installation (using virtualenv as described in the readme)
At step 7: while executing the line `python manage.py makemigrations caffe_app`

Description:
While trying to install fabrik w

[2019-11-04 15:50] nikochiko opened #518 "Trouble while installing, localhost doesn't show up in available sites while setting up GitHub authentication"
## Context
Trying to install Fabrik using virtualenv on this system:
- OS: Ubuntu 16.04 WSL on Windows 10.
- Environment: Python 2.7 virtualenv
Just following the instructions on the installation guide in readme.

## Behavior
- localhost:8000 should show up in the list of available sites in django admin social applications.

## Details:
![1_fabrik_localhost_not_in_available_sites](https://user-ima

[2019-11-05 12:00] nikochiko opened #520 "Travis CI test for PRs fails by default."
In a [PR](https://github.com/Cloud-CV/Fabrik/pull/519), I made no change in the repo except adding a new line in README.md
[Travis check](https://travis-ci.org/Cloud-CV/Fabrik/builds/607585105?utm_source=github_status&utm_medium=notification) fails by default.

## Troubleshooting:

The problem seems to be in `tests/unit/caffe_app/test_views.py` according to Travis logs.

__________________________

[2019-11-07 08:56] amy9032 commented on #388
@supra08 Do you have any progress on this issue?

[2019-11-20 14:42] ucalyptus commented on #520
@nikochiko the link to your PR is broken

[2019-11-20 18:46] nikochiko commented on #520
@ucalyptus Oops! Fixed that in edited one.

[2019-11-21 14:25] nikochiko opened #521 "[docs] Documentation headings unclear"
#### Scenario:
- Documentation headings are confusing:
  - [Basics of Using the Exported Keras Model](https://fabrik.readthedocs.io/en/latest/keras_json_usage_1.html) and [Use exported model in Keras](https://fabrik.readthedocs.io/en/latest/keras_json_usage_2.html)
  - [Using an Exported Caffe Model](https://fabrik.readthedocs.io/en/latest/caffe_prototxt_usage_1.html) and [Use exported model in Ca

[2019-11-22 09:32] nikochiko opened #522 "[Wiki] Fabrik Wiki outdated, mentions IDE instead of Fabrik."
* The wiki https://github.com/Cloud-CV/Fabrik/wiki mentions IDE instead of Fabrik.
* If the wiki is needed, we can fix that and in addition:
 * Also, it would be better if in the [Models](https://github.com/Cloud-CV/Fabrik/wiki/Models) sections, we create direct links to the Model pages rather than having to copy-paste them.
 * Also the list of working models can be updated by referring to the [RE

[2019-11-22 14:10] vasudev-sharma opened #523 "Upgrade from Python2.7 to Python3"
Hi, I am Vasudev and very much interested in  Machine Learning particularly Deep Learning R&D. Your open source software **Fabrik** is pretty much valuable and impressive to both researchers and a novice in the field of AI. I would like to contribute in this project.

I would like to mention a small improvement

Since **Python 2.7** will reach the end of its life on January 1st, 2020 and it wouldn

[2019-11-22 15:17] nikochiko opened #524 "Broken links"
- Found a few broken links. Fixed most of them in https://github.com/Cloud-CV/Fabrik/pull/525
- Rest are here:
 1. https://github.com/Cloud-CV/Fabrik/blob/master/docs/source/internalModel.md#example-json-model-file All three links in JSON examples are broken. Might have to make new ones
 2. In https://github.com/Cloud-CV/Fabrik/blob/master/docs/source/keras_json_usage_1.md , the database used (htt

[2019-11-23 19:48] vasudev-sharma opened #526 "Deprecation warning with some dependencies !!"
I tried following the instructions while installing **Fabri**k on my local machine as given in `Readme.md`.  Everything worked fine but I was getting deprecation warning while performing the step 13(`RUN npm install`). A screenshot of this is attached below.
<img width="1438" alt="Screenshot 2019-11-24 at 1 12 42 AM" src="https://user-images.githubusercontent.com/31419210/69484292-87b5be80-0e57-11

[2019-11-24 05:32] vasudev-sharma opened #527 "Installation Faliure: No module named skimage.io"
If you'd like to report a bug, please include the following information:

**- the observed behaviour**
   When trying to install Fabrik on local machine, it throws out error **"No module named skimage.io"** and the django, fabrik_celery_1  get exited producing a installation failure.
**- steps to reproduce the problem**
1. Go to `Readme.md`
2. Follow the instruction from step (1-3)
3. At the last

[2019-11-24 08:29] salonitayal commented on #526
@vs74  While performing `Step 13/16: RUN npm install `  deprecation warning occurred on my system too. I tried `sudo docker-compose up --build` again.

[2019-11-24 12:33] vasudev-sharma commented on #526
@Saloni-Tayal , yeah! I agree with you these warning occurs in` Step 13/16:` and also the installation works. What i am trying to say is, to reduce maintenance in future, I think it would be a good idea to deal with the whatever possible deprecated dependencies.

[2019-11-27 19:44] vasudev-sharma commented on #527
Can anyone help me with this ?

[2019-12-07 23:14] SuperKogito commented on #524
I think broken links are a common issue and a radical solution to this problem is automatically checking and reporting them. Luckily the new GitHub actions and  workflows help with that. I recently wrote an action that just does that. [URLs-checker](https://github.com/marketplace/actions/urls-checker) will check and report broken links, which is useful to spot similar issues to this one.

[2019-12-22 11:13] ChetanMadan commented on #516
Solved by
[code]

[2019-12-22 11:16] nikochiko commented on #516
@ChetanMadan I think the problem is that Ubuntu 18.04 is not supported by Fabrik.
I was able to install it successfully on Ubuntu 16,04

[2019-12-22 15:03] ChetanMadan commented on #516
I just finished setting it up the docker way on Ubuntu 18.04! It is working just fine. @nikochiko

[2019-12-24 14:56] diningPhilosopher64 commented on #518
@nikochiko , Under "Chosen Sites" you will have to add "github.com" as the domain name. Then go to the "sites" table, click on "github.com" and change the domain name to "0.0.0.0:8000" .

This should get you going.

[2019-12-24 14:57] diningPhilosopher64 commented on #516
@nikochiko , it would be easier to setup using docker/ docker-compose. Might take some time in building the images but once done, it should be a cake walk ..!

[2019-12-24 15:24] diningPhilosopher64 commented on #510
@Debapriya-Tula , looks like you have been running some other docker/ docker-compose command which is already using the ports (maybe cloudcv/EvalAI ? ). In my case I had been building both cloudcv/EvalAI and cloudcv/Fabrik simultaneously which led to the same error.

Stop other running docker containers and/ or docker-compose commands. That should fix it.

Another way would be to run "docker ps" a

[2019-12-30 09:34] Mayukhdeb commented on #391
how do I  replicate this issue on my machine  ?

[2020-01-08 04:59] aksharma53 commented on #391
#391 still unsolved or not ?

[2020-01-26 11:44] pranjaldatta commented on #527
I encountered the same issue during install.  You can solve it by pip installing the package
`pip install scikit-image`

[2020-05-14 15:54] #516 closed, assigned to nobody

[2020-08-11 22:50] agbiotec opened #529 "Need to add settings/dev.py as in order for migration to work (modified from the provided dev.sample.py)"
from .common import * # noqa: ignore=F405
import os

# Database
# https://docs.djangoproject.com/en/1.9/ref/settings/#databases

DEBUG = True
# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 's9&vp1jq1yzr!1c_temg#v_)j-a)i5+@vbsekmi6pbjl4l1&u@'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': os.environ.get("P

[2020-09-23 15:08] AshwinB-hat commented on #249
@supra08 @Ram81 Is there any progress on this? Or Can I pick it up and start from scratch?

[2020-10-04 15:26] LuckyPigeon commented on #527
@vs74 Does the problem solved?

[2020-10-09 19:27] vasudev-sharma commented on #527
Yes @LuckyPigeon , the issue got resolved. I'm closing this issue.

[2020-10-09 19:27] #527 closed, assigned to nobody

[2020-11-21 14:51] pankajsinghchamyal opened #530 "django.db.utils.OperationalError: could not translate host name "db" to address: Name or service not known"
hey i am getting error when i install fabrick using the process mention in  the redme for the installation of ubuntu 20.04 . the problem occured in django as mentioned : django.db.utils.OperationalError: could not translate host name "db" to address: Name or service not known
if you get the solution for that let everyone knows.

![Screenshot](https://user-images.githubusercontent.com/59091556/9988

[2021-07-06 01:45] dejavu6 opened #532 "Can‘t be deployed according to readme"
Cannot be deployed according to readme!